[Unit]
Description=The Apache Tika toolkit detects and extracts metadata and text
After=network.target

[Service]
User={{ context.tika_user }}
Group={{ context.tika_group }}
WorkingDirectory={{ context.install_directory }}
Type=exec
ExecStart=/usr/bin/java -Dlog4j.configurationFile={{ context.tika_log_config_file }} -jar {{ context.install_directory }}/tika-server.{{ context.version }}.jar --config {{ context.tika_config_file }}
SuccessExitStatus=143
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
