---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  skip:
  - packer_fmt
  - hadolint-docker
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: |
      (?x)(
        src/ol_infrastructure/infrastructure/aws/eks/files/|
        src/ol_infrastructure/applications/edxapp/files/edxapp/.*/.*\.yaml|
        charts/
      )
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-toml
  - id: debug-statements
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args:
    - --mapping
    - '2'
    - --sequence
    - '2'
    - --offset
    - '0'
    - --width
    - '80'
    - --preserve-quotes
    exclude: |
      (?x)(
        src/ol_infrastructure/applications/edxapp/files/edxapp/.*/.*\.yaml|
        charts/
      )
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    args: [--format, parsable, -d, relaxed]
    exclude: |
      (?x)(
        src/ol_infrastructure/applications/edxapp/files/edxapp/.*/.*\.yaml|
        charts/
      )
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
    args:
    - --exclude-lines
    - '(^encryptedkey:|^secure:|^secretsprovider:)'
    - --exclude-files
    - src/bridge/secrets/
    - --exclude-files
    - poetry.lock
    - --exclude-files
    - src/ol_infrastructure/applications/ocw_site/redirect_dict
    - --exclude-files
    - charts/
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.14.6'
  hooks:
  - id: ruff-format
  - id: ruff-check
    args: [--extend-ignore=D1, --fix]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2
  hooks:
  - id: mypy
    args:
    - --explicit-package-bases
    - --namespace-packages
    - --config-file=pyproject.toml
    - --warn-unused-configs
    additional_dependencies:
    - pydantic>2.10
    - types-PyYAML
    - types-requests
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
  - id: shellcheck
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.9
  hooks:
  - id: actionlint
    name: actionlint
    description: Runs actionlint to lint GitHub Actions workflow files
- repo: https://github.com/mitodl/pre-commit-packer
  rev: v0.0.3
  hooks:
  - id: packer_fmt
- repo: https://github.com/hadolint/hadolint
  rev: v2.14.0
  hooks:
  - id: hadolint-docker
