[GLOBAL]
pants_version = "2.20.0"
backend_packages = [
  'pants.backend.docker.lint.hadolint',
  'pants.backend.experimental.python',
  'pants.backend.python',
  'pants.backend.python.lint.black',
  'pants.backend.python.lint.flake8',
  'pants.backend.python.lint.isort',
  'pants.backend.python.typecheck.mypy',
  'pants.backend.experimental.python.lint.ruff.check',
  'pants.backend.experimental.python.lint.ruff.format',
  'pants.backend.shell',
  'pants.backend.shell.lint.shellcheck',
  'pants.backend.shell.lint.shfmt',
]
pants_ignore = ['copier_templates/*']

[python]
enable_resolves = true
interpreter_constraints = ['>=3.11']

[anonymous-telemetry]
enabled = true
repo_id = 'e270ade3-30ce-4252-b559-259daf6042b4'

[twine]
args = '--skip-existing'
