[tool.poetry]
name = "bilder"
version = "0.1.0"
description = "Configuration management logic and Packer templates for building images to run services in a production environment."
authors = ["MIT Open Learning Engineering <oldevops@mit.edu>"]

[tool.poetry.dependencies]
python = "^3.7"
pyinfra = "^1.3.7"
pydantic = "^1.8.1"
httpx = "^0.17.1"

[tool.poetry.dev-dependencies]
pytest = "^6"
wemake-python-styleguide = "*"
black = "*"
copier = "^5.1.0"
pre-commit = "^2.11.1"
mypy = "*"
pytest-testinfra = "^6.2.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
