{
    storage file_system {
        root /var/lib/caddy
    }
    default_sni {$DOMAIN:tika-production-apps.odl.mit.edu}
    email odl-devops@mit.edu
}

{$DOMAIN:tika-production-apps.odl.mit.edu} {
    log {
        format json
        output file /var/log/caddy/caddy.log
    }
    @unauthorized not header X-Access-Token {$X_ACCESS_TOKEN:dummy_token}
    respond @unauthorized 403
    @invalidtoken header X-Access-Token "dummy_token"
    respond @invalidtoken 403
    tls /etc/caddy/odl_wildcard.cert /etc/caddy/odl_wildcard.key
    reverse_proxy http://127.0.0.1:9998
}
