server {
    {{- range key "ovs/domains" | split "," }}
    server_name {{ . }};
    {{- end }}
    listen 80;
    listen [::]:80;

    return 301 https://$host$request_uri;
}

server {
    {{- range key "ovs/domains" | split "," }}
    server_name {{ . }};
    {{- end }}
    listen 443 ssl default_server;
    listen [::]:443 ssl;
    root /opt/odl-video-service/;
    ssl_certificate /etc/nginx/ssl/ovs_web_cert.crt;
    ssl_certificate_key /etc/nginx/ssl/ovs_web_cert.key;
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_session_timeout 1d;
    ssl_session_tickets off;
    # ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256;
    ssl_prefer_server_ciphers on;
    resolver 1.1.1.1;

    location /status {
        include uwsgi_params;
        uwsgi_pass app:8087;
    }

    location / {
        include uwsgi_params;
        uwsgi_ignore_client_abort on;
        uwsgi_pass app:8087;
    }

    location /collections/letterlocking {
        return 301 https://www.youtube.com/c/Letterlocking/videos;
    }

    location /collections/letterlocking/videos {
        return 301 https://www.youtube.com/c/Letterlocking/videos;
    }

    location /collections/letterlocking/videos/30213-iron-gall-ink-a-quick-and-easy-method {
        return 301 https://www.youtube.com/playlist?list=PL2uZTM-xaHP4tFQT7eTTK3sWRoJMcDWwB;
    }

    location /collections/letterlocking/videos/30215-elizabeth-stuart-s-deciphering-sir-thomas-roe-s-letter-cryptography-1626 {
        return 301 https://www.youtube.com/watch?v=6X_ZXrLs8I8&list=PL2uZTM-xaHP4tFQT7eTTK3sWRoJMcDWwB&index=3&t=0s;
    }

    location /collections/letterlocking/videos/30209-a-tiny-spy-letter-constantijn-huygens-to-amalia-von-solms-1635 {
        return 301 https://www.youtube.com/watch?v=PePWd-h679c&list=PL2uZTM-xaHP4tFQT7eTTK3sWRoJMcDWwB&index=7&t=0s;
    }

    location /collections/c8c5179c7596408fa0f09f6b76082331 {
        return 301 https://www.youtube.com/c/MITEnergyInitiative;
    }
}
