# -*- mode: yaml -*-
# ALTERNATE_WORKER_QUEUES: lms  # Already has a sane default in the code
COURSE_AUTHORING_MICROFRONTEND_URL: /authoring
DISCUSSIONS_INCONTEXT_LEARNMORE_URL: https://openedx.atlassian.net/wiki/spaces/COMM/pages/3470655498/Discussions+upgrade+Sidebar+and+new+topic+structure
GIT_REPO_EXPORT_DIR: /openedx/data/export_course_repos
GITHUB_ORG_API_URL: https://github.mit.edu/api/v3/orgs/mitx
GITHUB_ACCESS_TOKEN: {{ .Data.github_auto_export_access_token }}
GIT_EXPORT_DEFAULT_IDENT:
  name: MITx Online
  email: mitx-devops@mit.edu

PARSE_KEYS: {}
REDBEAT_KEY_PREFIX: redbeat_cms  # ADDED - RedBeat key prefix to separate LMS and CMS schedules
SITE_NAME: {{ key "edxapp/studio-domain" }}  # MODIFIED
{{ with secret "secret-mitxonline/edxapp" }}
SOCIAL_AUTH_EDX_OAUTH2_KEY: {{ .Data.studio_oauth_client.id }}
SOCIAL_AUTH_EDX_OAUTH2_SECRET: {{ .Data.studio_oauth_client.secret }}
{{ end }}
SOCIAL_AUTH_EDX_OAUTH2_URL_ROOT: https://{{ key "edxapp/lms-domain" }}  # possibly same as public LMS root URL
SOCIAL_AUTH_EDX_OAUTH2_PUBLIC_URL_ROOT: https://{{ key "edxapp/lms-domain" }}
SESSION_COOKIE_NAME: {{ env "ENVIRONMENT" }}-edx-studio-sessionid  # MODIFIED
#################################################################################################
# Disable `Learn More ...` links that redirect to edx.readthedocs.io in the Authoring MFE cards #
#################################################################################################
CALCULATOR_HELP_URL: ''
DISCUSSIONS_HELP_URL: ''
EDXNOTES_HELP_URL: ''
PROGRESS_HELP_URL: ''
TEAMS_HELP_URL: ''
TEXTBOOKS_HELP_URL: ''
WIKI_HELP_URL: ''
CUSTOM_PAGES_HELP_URL: ''
COURSE_LIVE_HELP_URL: ''
ORA_SETTINGS_HELP_URL: 'https://edx.readthedocs.io/projects/open-edx-building-and-running-a-course/en/latest/course_assets/pages.html#configuring-course-level-open-response-assessment-settings'
