# -*- mode: yaml -*-
{{ with secret "secret-mitxonline/mongodb-edxapp" }}
mongodb_settings: &mongo_params
  authsource: admin
  host: {{ keyOrDefault "mongodb/host" "mongodb-master.service.consul" }}
  port: 27017
  db: edxapp
  replicaSet: {{ keyOrDefault "mongodb/replica-set" "rs0" }}
  user: {{ .Data.username }}
  password: {{ .Data.password }}
  ssl: {{ keyOrDefault "mongodb/use-ssl" "false" }}
{{ end }}

{{ with secret "mariadb-mitxonline/creds/edxapp" }}
mysql_creds: &mysql_creds
  ENGINE: django.db.backends.mysql
  HOST: {{ keyOrDefault "edxapp/rds-host" "edxapp-db.service.consul" }}
  PORT: 3306
  USER: {{ .Data.username }}
  PASSWORD: {{ .Data.password }}
{{ end }}

{{ with secret "secret-mitxonline/edxapp" }}
CELERY_BROKER_PASSWORD: {{ .Data.redis_auth_token }}
FERNET_KEYS: {{ .Data.fernet_keys }}
redis_cache_config: &redis_cache_config
  BACKEND: django_redis.cache.RedisCache
  LOCATION: rediss://default@{{ with node "edxapp-redis" }}{{ .Node.Address }}{{ end }}:6379/0
  KEY_FUNCTION: common.djangoapps.util.memcache.safe_key
  OPTIONS:
    CLIENT_CLASS: django_redis.client.DefaultClient
    PASSWORD: {{ .Data.redis_auth_token }}
SECRET_KEY: {{ .Data.django_secret_key }}
JWT_AUTH:  # NEEDS ATTENTION
    JWT_ALGORITHM: HS256
    JWT_AUDIENCE: mitxonline
    JWT_AUTH_COOKIE: {{ env "ENVIRONMENT"}}-edx-jwt-cookie
    JWT_AUTH_COOKIE_HEADER_PAYLOAD: {{ env "ENVIRONMENT" }}-edx-jwt-cookie-header-payload
    JWT_AUTH_COOKIE_SIGNATURE: {{ env "ENVIRONMENT" }}-edx-jwt-cookie-signature
    JWT_ISSUER: 'https://{{ key "edxapp/lms-domain" }}/oauth2'
    JWT_LOGIN_CLIENT_ID: login-service-client-id
    JWT_LOGIN_SERVICE_USERNAME: login_service_user
    JWT_PRIVATE_SIGNING_JWK: '{{ .Data.private_signing_jwk }}'
    JWT_PUBLIC_SIGNING_JWK_SET: '{{ .Data.public_signing_jwk }}'
    JWT_SECRET_KEY: {{ .Data.django_secret_key }}
    JWT_SIGNING_ALGORITHM: RS512
    JWT_ISSUERS:
      - ISSUER: https://{{ key "edxapp/lms-domain" }}/oauth2
        AUDIENCE: mitxonline
        SECRET_KEY: {{ .Data.django_secret_key }}
OPENAI_SECRET_KEY: {{ .Data.openai_api_key }}
OPENAI_API_KEY: {{ .Data.openai_api_key }}
RETIRED_USER_SALTS: {{ .Data.user_retirement_salts }}
SENTRY_DSN: {{ .Data.sentry_dsn }}
SYSADMIN_GITHUB_WEBHOOK_KEY: {{ .Data.sysadmin_git_webhook_secret }}
{{ end }}

{{ with secret "secret-mitxonline/edx-xqueue" }}
XQUEUE_INTERFACE:
    django_auth:
        password: {{ .Data.edxapp_password }}
        username: edxapp
    url: http://xqueue.service.consul:8040  # MODIFIED
{{ end }}

{{ with secret "secret-mitxonline/edx-forum" }}
COMMENTS_SERVICE_KEY: {{ .Data.forum_api_key }}
{{ end }}

{{ with secret "secret-global/learn_ai" }}
MIT_LEARN_AI_XBLOCK_CHAT_API_TOKEN: {{ .Data.data.canvas_syllabus_token }}  # Added for ol_openedx_chat_xblock
{{ end }}

DATABASES:
  default:
    ATOMIC_REQUESTS: true
    CONN_MAX_AGE: 0
    NAME: edxapp
    OPTIONS:
      charset: utf8mb4
    <<: *mysql_creds
  read_replica:
    CONN_MAX_AGE: 0
    NAME: edxapp
    OPTIONS:
      charset: utf8mb4
    <<: *mysql_creds
  student_module_history:
    CONN_MAX_AGE: 0
    ENGINE: django.db.backends.mysql
    PORT: 3306
    HOST: {{ keyOrDefault "edxapp/rds-host" "edxapp-db.service.consul" }}
    NAME: edxapp_csmh
    OPTIONS:
      charset: utf8mb4
    {{ with secret "mariadb-mitxonline/creds/edxapp-csmh"}}
    PASSWORD: {{ .Data.password }}
    USER: {{ .Data.username }}
    {{ end }}


DOC_STORE_CONFIG: &docstore_config
  collection: modulestore
  connectTimeoutMS: 2000
  socketTimeoutMS: 3000
  <<: *mongo_params

CONTENTSTORE:
    ADDITIONAL_OPTIONS: {}
    DOC_STORE_CONFIG:
        collection: modulestore
        connectTimeoutMS: 2000
        socketTimeoutMS: 3000
        <<: *mongo_params
    ENGINE: xmodule.contentstore.mongo.MongoContentStore
    OPTIONS:
        auth_source: ''
        <<: *mongo_params

ACCOUNT_MICROFRONTEND_URL: null
ACTIVATION_EMAIL_SUPPORT_LINK: ''
AFFILIATE_COOKIE_NAME: dev_affiliate_id
# ANALYTICS_DASHBOARD_NAME: Your Platform Name Here Insights
# ANALYTICS_DASHBOARD_URL: http://localhost:18110/courses
ALLOWED_HOSTS:
- "*"
- {{ key "edxapp/lms-domain" }}
- {{ key "edxapp/studio-domain" }}
- {{ key "edxapp/preview-domain" }}

AUTH_PASSWORD_VALIDATORS:
-   NAME: django.contrib.auth.password_validation.UserAttributeSimilarityValidator
-   NAME: common.djangoapps.util.password_policy_validators.MinimumLengthValidator
    OPTIONS:
        min_length: 2
-   NAME: common.djangoapps.util.password_policy_validators.MaximumLengthValidator
    OPTIONS:
        max_length: 75
# TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
AWS_ACCESS_KEY_ID: "" # MODIFIED - not setting as we will use IAM Instance Profiles
# AWS_QUERYSTRING_AUTH: false
# TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
AWS_S3_CUSTOM_DOMAIN: {{ key "edxapp/s3-storage-bucket" }}.s3.amazonaws.com
# TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
AWS_SECRET_ACCESS_KEY: ""  # MODIFIED - not setting as we will use IAM Instance Profiles
AWS_SES_CONFIGURATION_SET: {{ key "edxapp/ses-configuration-set" }}  # ADDED KEY
AWS_SES_REGION_ENDPOINT: email.us-east-1.amazonaws.com
AWS_SES_REGION_NAME: us-east-1
# TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
AWS_STORAGE_BUCKET_NAME: {{ key "edxapp/s3-storage-bucket" }}  # MODIFIED
BASE_COOKIE_DOMAIN: {{ key "edxapp/lms-domain" }} # MODIFIED
BLOCKSTORE_USE_BLOCKSTORE_APP_API: true
# TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
BUNDLE_ASSET_STORAGE_SETTINGS:
  # TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
  STORAGE_CLASS: storages.backends.s3boto3.S3Boto3Storage
  # TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
  STORAGE_KWARGS:
    location: blockstore/
BLOCK_STRUCTURES_SETTINGS:
    COURSE_PUBLISH_TASK_DELAY: 30
    PRUNING_ACTIVE: true  # MODIFIED
    TASK_DEFAULT_RETRY_DELAY: 30
    TASK_MAX_RETRIES: 5
    # TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
    STORAGE_CLASS: storages.backends.s3boto3.S3Boto3Storage
    DIRECTORY_PREFIX: coursestructure/
    # TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
    STORAGE_KWARGS:
      bucket_name: {{ key "edxapp/s3-storage-bucket" }}
      default_acl: public-read
BRANCH_IO_KEY: ''
BUGS_EMAIL: odl-devops@mit.edu  # MODIFIED
EMAIL_USE_COURSE_ID_FROM_FOR_BULK: {{ keyOrDefault "edxapp/email-use-course-id-from-for-bulk" "false" }}
BULK_EMAIL_EMAILS_PER_TASK: 500
BULK_EMAIL_LOG_SENT_EMAILS: false
BULK_EMAIL_DEFAULT_FROM_EMAIL: {{ key "edxapp/bulk-email-default-from-email" }} # ADDED
CACHES:  # MODIFIED
    celery:
      <<: *redis_cache_config
      KEY_PREFIX: celery
      TIMEOUT: '7200'
    configuration:
      <<: *redis_cache_config
      KEY_PREFIX: configuration
    course_structure_cache:
      <<: *redis_cache_config
      KEY_PREFIX: course_structure
      TIMEOUT: '7200'
    default:
      <<: *redis_cache_config
      KEY_PREFIX: default
      VERSION: '1'
    general:
      <<: *redis_cache_config
      KEY_PREFIX: general
    mongo_metadata_inheritance:
      <<: *redis_cache_config
      KEY_PREFIX: mongo_metadata_inheritance
      TIMEOUT: 300
    staticfiles:
      <<: *redis_cache_config
      KEY_PREFIX: staticfiles
CELERYBEAT_SCHEDULE:
    send-email-digest:
      task: openedx.core.djangoapps.notifications.email.tasks.send_digest_email_to_all_users
      schedule: 86400 # 24 hours in seconds
      args:
        - "Daily"
CELERYBEAT_SCHEDULER: redbeat.RedBeatScheduler  # MODIFIED
CELERY_BROKER_HOSTNAME: {{ with node "edxapp-redis" }}{{ .Node.Address }}{{ end }}:6379  # MODIFIED
CELERY_BROKER_TRANSPORT: rediss  # MODIFIED - second "s" indicates "secure"
CELERY_BROKER_USER: default # MODIFIED
CELERY_BROKER_USE_SSL:  # MODIFIED
  ssl_cert_reqs: optional  # This is the required dictionary for SSL support to work
  # https://docs.celeryproject.org/en/stable/userguide/configuration.html#redis-backend-settings
CELERY_BROKER_VHOST: '1'  # MODIFIED
CELERY_EVENT_QUEUE_TTL: null
# CELERY_QUEUES:  # MODIFIED  - remove from YAML to allow sane defaults to work between CMS and LMS
# - edx.lms.core.default
# - edx.lms.core.high
# - edx.lms.core.high_mem
CELERY_TIMEZONE: UTC
CELERY_TASK_TRACK_STARTED: true
CELERY_TASK_SEND_SENT_EVENT: true
CERTIFICATE_TEMPLATE_LANGUAGES:
    en: English
    es: Español
CERT_QUEUE: certificates
CMS_BASE: {{ key "edxapp/studio-domain" }}  # MODIFIED
CONTACT_MAILING_ADDRESS: SET-ME-PLEASE
CONTACT_US_ENABLE: false
ENABLE_CODEJAIL_REST_SERVICE: true
CODE_JAIL_REST_SERVICE_HOST: http://codejail.service.consul:8000
COMMENTS_SERVICE_URL: http://forum.service.consul:4567  # MODIFIED
COMPREHENSIVE_THEME_DIRS:
- /openedx/themes/  # MODIFIED
COMPREHENSIVE_THEME_LOCALE_PATHS: []
CONTACT_EMAIL: {{ key "edxapp/sender-email-address" }} # MODIFIED
CORS_ORIGIN_ALLOW_ALL: false
CORS_ORIGIN_WHITELIST:
  - https://{{ key "edxapp/lms-domain" }}
  - https://{{ key "edxapp/studio-domain" }}
  - https://{{ key "edxapp/preview-domain" }}
  - https://{{ key "edxapp/marketing-domain" }}
  - https://{{ key "edx/notes-api-host" }}
  - https://{{ key "edxapp/learn-ai-frontend-domain" }}
  - https://{{ env "ENVIRONMENT" }}-edxapp-storage.s3.amazonaws.com  # Fix ORA upload bug
COURSES_WITH_UNSAFE_CODE: []
COURSES_INVITE_ONLY: true
COURSE_ABOUT_VISIBILITY_PERMISSION: see_exists
COURSE_CATALOG_API_URL: http://localhost:8008/api/v1
COURSE_CATALOG_URL_ROOT: http://localhost:8008
COURSE_CATALOG_VISIBILITY_PERMISSION: staff
# TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
COURSE_IMPORT_EXPORT_BUCKET: {{ key "edxapp/s3-course-bucket" }}  # MODIFIED
CREDENTIALS_INTERNAL_SERVICE_URL: http://localhost:8005
CREDENTIALS_PUBLIC_SERVICE_URL: http://localhost:8005
CREDIT_PROVIDER_SECRET_KEYS: {}
CROSS_DOMAIN_CSRF_COOKIE_DOMAIN: {{ key "edxapp/lms-domain" }}  # MODIFIED
CROSS_DOMAIN_CSRF_COOKIE_NAME: {{ env "ENVIRONMENT" }}-edxapp-csrftoken  # MODIFIED
CSRF_COOKIE_SECURE: true  # MODIFIED
CSRF_COOKIE_SAMESITE: 'None'
CSRF_TRUSTED_ORIGINS:  # MODIFIED
  - https://{{ key "edxapp/lms-domain" }}
DASHBOARD_COURSE_LIMIT: null
DATA_DIR: /openedx/data  # Filesystem path where edx puts files for course export/import
DEFAULT_COURSE_VISIBILITY_IN_CATALOG: both
DEFAULT_FEEDBACK_EMAIL: {{ key "edxapp/sender-email-address" }} # MODIFIED
# TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
DEFAULT_FILE_STORAGE: storages.backends.s3boto3.S3Boto3Storage  # MODIFIED
DEFAULT_FROM_EMAIL: {{ key "edxapp/sender-email-address" }} # MODIFIED
DEFAULT_MOBILE_AVAILABLE: false
DEFAULT_SITE_THEME: mitxonline  # MODIFIED
DEPRECATED_ADVANCED_COMPONENT_TYPES: []
DISCUSSIONS_MICROFRONTEND_URL: https://{{ key "edxapp/lms-domain" }}/discuss

EDXMKTG_USER_INFO_COOKIE_NAME: {{ env "ENVIRONMENT" }}-edx-user-info
{{ if keyOrDefault "edxapp/enable_notes" "false" | parseBool }}
EDXNOTES_INTERNAL_API: https://{{ key "edx/notes-api-host" }}/api/v1
EDXNOTES_PUBLIC_API: https://{{ key "edx/notes-api-host" }}/api/v1
{{ else }}
EDXNOTES_INTERNAL_API: http://localhost:18120/api/v1
EDXNOTES_PUBLIC_API: http://localhost:18120/api/v1
{{ end }}
EDX_PLATFORM_REVISION: release
ELASTIC_SEARCH_CONFIG:
- host: {{ keyOrDefault "elasticsearch/host" "elasticsearch.service.consul" }}
  port: 443
  use_ssl: true
ELASTIC_SEARCH_CONFIG_ES7:
- host: {{ keyOrDefault "elasticsearch/host" "elasticsearch.service.consul" }}
  port: 443
  use_ssl: true
EMAIL_BACKEND: django_ses.SESBackend  # MODIFIED
# EMAIL_HOST: localhost
# EMAIL_HOST_PASSWORD: ''
# EMAIL_HOST_USER: ''
# EMAIL_PORT: 25
# EMAIL_USE_TLS: false
ENABLE_COMPREHENSIVE_THEMING: true  # MODIFIED
EVENT_TRACKING_SEGMENTIO_EMIT_WHITELIST: []
EXTRA_MIDDLEWARE_CLASSES: []
FACEBOOK_API_VERSION: v2.1
FACEBOOK_APP_ID: FACEBOOK_APP_ID
FACEBOOK_APP_SECRET: FACEBOOK_APP_SECRET
FEATURES:
    ALLOW_COURSE_STAFF_GRADE_DOWNLOADS: true # ADDED KEY
    ALLOW_PUBLIC_ACCOUNT_CREATION: true
    AUTH_USE_OPENID_PROVIDER: true
    AUTOMATIC_AUTH_FOR_TESTING: false
    CUSTOM_COURSES_EDX: false
    CERTIFICATES_HTML_VIEW: false  # ADDED KEY
    EMBARGO: true  # ADDED KEY
    ENABLE_BLAKE2B_HASHING: true
    ENABLE_BULK_ENROLLMENT_VIEW: false
    ENABLE_BULK_USER_RETIREMENT: true
    ENABLE_COMBINED_LOGIN_REGISTRATION: true
    ENABLE_CORS_HEADERS: true  # MODIFIED
    ENABLE_COUNTRY_ACCESS: false
    ENABLE_COURSE_HOME_REDIRECT: true
    ENABLE_CREDIT_API: false
    ENABLE_CREDIT_ELIGIBILITY: false
    ENABLE_CROSS_DOMAIN_CSRF_COOKIE: true  # MODIFIED
    ENABLE_CSMH_EXTENDED: true
    ENABLE_DISCUSSION_HOME_PANEL: true
    ENABLE_DISCUSSION_SERVICE: true
    ENABLE_EDXNOTES: {{ keyOrDefault "edxapp/enable_notes" "false" }}
    ENABLE_EDX_USERNAME_CHANGER: true  # ADDED KEY
    ENABLE_ENROLLMENT_RESET: false
    ENABLE_EXAM_SETTINGS_HTML_VIEW: true # ADDED KEY
    ENABLE_EXPORT_GIT: true  # MODIFIED
    ENABLE_FORUM_DAILY_DIGEST: true
    ENABLE_GIT_AUTO_EXPORT: true  # ADDED KEY
    ENABLE_GRADE_DOWNLOADS: true
    ENABLE_INSTRUCTOR_ANALYTICS: false
    ENABLE_LTI_PROVIDER: true  # modified
    ENABLE_MKTG_SITE: true
    ENABLE_MOBILE_REST_API: true
    ENABLE_NEW_BULK_EMAIL_EXPERIENCE: true  # ADDED KEY
    ENABLE_OAUTH2_PROVIDER: true
    ENABLE_OTHER_COURSE_SETTINGS: true
    ENABLE_PUBLISHER: false
    ENABLE_READING_FROM_MULTIPLE_HISTORY_TABLES: true
    ENABLE_SPECIAL_EXAMS: true # MODIFIED FOR PROCTORTRACK
    ENABLE_THIRD_PARTY_AUTH: true
    ENABLE_UNICODE_USERNAME: true  # ADDED KEY
    ENABLE_V2_CERT_DISPLAY_SETTINGS: true # ADDED KEY
    ENABLE_VIDEO_UPLOAD_PIPELINE: true # MODIFIED
    MILESTONES_APP: true # ADDED KEY FOR PROCTORTRACK
    PREVIEW_LMS_BASE: {{ key "edxapp/preview-domain" }}  # MODIFIED
    SHOW_FOOTER_LANGUAGE_SELECTOR: false
    SHOW_HEADER_LANGUAGE_SELECTOR: false
    SKIP_EMAIL_VALIDATION: true # ADDED KEY
FEEDBACK_SUBMISSION_EMAIL: ''
# TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
FILE_UPLOAD_STORAGE_BUCKET_NAME: {{ key "edxapp/s3-storage-bucket" }}
# TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
FILE_UPLOAD_STORAGE_PREFIX: submissions_attachments
FINANCIAL_REPORTS:
    BUCKET: null
    ROOT_PATH: sandbox
    STORAGE_TYPE: localfs
FOOTER_ORGANIZATION_IMAGE: /images/logo.png
FORUM_SEARCH_BACKEND: "forum.search.es.ElasticsearchBackend"

FORUM_ELASTIC_SEARCH_CONFIG:
  - host: {{ keyOrDefault "elasticsearch/host" "elasticsearch.service.consul" }}
    port: "443"
    use_ssl: true


{{ with secret "secret-mitxonline/mongodb-forum" }}
FORUM_MONGODB_CLIENT_PARAMETERS:
  authSource: admin
  host: {{ keyOrDefault "mongodb/host" "mongodb-master.service.consul" }}
  port: 27017
  replicaSet: {{ keyOrDefault "mongodb/replica-set" "rs0" }}
  username: {{ .Data.username }}
  password: {{ .Data.password }}
  ssl: {{ keyOrDefault "mongodb/use-ssl" "false" }}
{{ end }}

FORUM_MONGODB_DATABASE: "forum"
GITHUB_REPO_ROOT: /openedx/data
GOOGLE_ANALYTICS_ACCOUNT: {{ key "edxapp/google-analytics-id" }}
GRADES_DOWNLOAD:
    BUCKET: {{ key "edxapp/s3-grades-bucket" }}  # MODIFIED
    ROOT_PATH: grades  # MODIFIED
    # TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
    STORAGE_CLASS: django.core.files.storage.S3Storage  # MODIFIED
    # TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
    STORAGE_KWARGS:
        location: grades/
    # TODO: Remove after Django 5.2 migration - replaced by STORAGES configuration
    STORAGE_TYPE: S3  # MODIFIED
HELP_TOKENS_BOOKS:
    course_author: http://edx.readthedocs.io/projects/open-edx-building-and-running-a-course
    learner: http://edx.readthedocs.io/projects/open-edx-learner-guide
ICP_LICENSE: null
ICP_LICENSE_INFO: {}
IDA_LOGOUT_URI_LIST:
  - https://{{ key "edxapp/marketing-domain" }}/logout
  - https://{{ key "edxapp/studio-domain" }}/logout
  - https://{{ key "edxapp/learn-api-domain" }}/logout
ID_VERIFICATION_SUPPORT_LINK: ''
INTEGRATED_CHANNELS_API_CHUNK_TRANSMISSION_LIMIT:
    SAP: 1
JWT_EXPIRATION: 30
LANGUAGE_CODE: en
LANGUAGE_COOKIE: {{ env "ENVIRONMENT" }}-openedx-language-preference
MIT_LEARN_AI_API_URL: https://{{ key "edxapp/learn-api-domain" }}/ai  # Added for ol_openedx_chat
MIT_LEARN_API_BASE_URL: https://{{ key "edxapp/learn-api-domain" }}/learn  # Added for ol_openedx_chat
MIT_LEARN_SUMMARY_FLASHCARD_URL: https://{{ key "edxapp/learn-api-domain" }}/learn/api/v1/contentfiles/  # Added for ol_openedx_chat
MIT_LEARN_BASE_URL: https://{{ key "edxapp/learn-frontend-domain" }}
MIT_LEARN_AI_XBLOCK_CHAT_API_URL: https://{{ key "edxapp/learn-api-domain" }}/ai/http/canvas_syllabus_agent/  # Added for ol_openedx_chat_xblock
MIT_LEARN_AI_XBLOCK_TUTOR_CHAT_API_URL: https://{{ key "edxapp/learn-api-domain" }}/ai/http/canvas_tutor_agent/  # Added for ol_openedx_chat_xblock
MIT_LEARN_AI_XBLOCK_PROBLEM_SET_LIST_URL: https://{{ key "edxapp/learn-api-domain" }}/ai/api/v0/problem_set_list  # Added for ol_openedx_chat_xblock
MIT_LEARN_AI_XBLOCK_CHAT_RATING_URL: https://{{ key "edxapp/learn-api-domain" }}/ai/api/v0/chat_sessions/  # Added for ol_openedx_chat_xblock
MIT_LEARN_SUPPORT_SITE_LINK: mailto:mitlearn-support@mit.edu
UAI_COURSE_KEY_FORMATS:
  - course-v1:uai_
MIT_LEARN_LOGO: https://{{ key "edxapp/lms-domain" }}/static/mitxonline/images/mit-learn-logo.svg"
LEARNER_PORTAL_URL_ROOT: https://learner-portal-localhost:18000
LEARNER_HOME_MICROFRONTEND_URL: '/dashboard/'
LEARNING_MICROFRONTEND_URL: https://{{ key "edxapp/lms-domain" }}/learn
LMS_BASE: {{ key "edxapp/lms-domain" }}  # MODIFIED
LMS_INTERNAL_ROOT_URL: https://{{ key "edxapp/lms-domain" }}  # MODIFIED
LMS_ROOT_URL: https://{{ key "edxapp/lms-domain" }}  # MODIFIED
LOCAL_LOGLEVEL: INFO
LOGGING_ENV: sandbox
LOGIN_REDIRECT_WHITELIST:  # MODIFIED
  - {{ key "edxapp/studio-domain" }}
  - {{ key "edxapp/lms-domain" }}
  - {{ key "edxapp/preview-domain" }}
  - {{ key "edxapp/marketing-domain" }}
LOG_DIR: /openedx/data/var/log/ed/openedx/data/var/log/edx
LOGO_URL: https://{{ key "edxapp/lms-domain" }}/static/mitxonline/images/logo.svg
LOGO_URL_PNG_FOR_EMAIL: https://{{ key "edxapp/lms-domain" }}/static/mitxonline/images/logo.png
LOGO_TRADEMARK_URL: https://{{ key "edxapp/lms-domain" }}/static/mitxonline/images/mit-logo.svg
MAINTENANCE_BANNER_TEXT: Sample banner message
MARKETING_SITE_BASE_URL: https://{{ key "edxapp/marketing-domain" }}/ # ADDED - to support mitxonline-theme
MARKETING_SITE_CHECKOUT_URL: https://{{ key "edxapp/marketing-domain" }}/cart/add/ # ADDED - to support mitxonline checkout
MEDIA_ROOT: media/  # MODIFIED - with s3 storage backend this is the path within the bucket. No leading / allowed
MEDIA_URL: /media/
MICROSITE_CONFIGURATION: {}
MIT_BASE_URL: https://web.mit.edu # Keeping it hardcoded till we change MARKETING_SITE_BASE_URL
MITX_REDIRECT_ENABLED: True
MITX_REDIRECT_ALLOW_RE_LIST:  # ADDED VALUE
  - "^/(admin|auth|logout|register|api|oauth2|user_api|heartbeat|login_refresh|c4x|asset-v1:|assets/courseware/|lti_provider)"
  - "^/courses/.*/xblock/.*/handler_noauth/outcome_service_handler"
  - "^/v1/accounts/bulk_retire_users"
  - "^/courses/course-v1:.*?/xqueue/.*$"  # TODO (TMM 2025-07-22): Remove this once the xqueue -> submissions migration is complete
  - "^/courses/.*/courseware-navigation-sidebar/toggles/?$"
  - "^/courses/.*/courseware-search/enabled/?$"
MITXONLINE_BASE_URL: https://{{ key "edxapp/mitxonline-domain" }}/ # ADDED - to support mitxonline-theme
MKTG_URLS:
    ROOT: https://{{ key "edxapp/marketing-domain" }}/
MKTG_URL_LINK_MAP:
    TOS: tos
    ABOUT: about
    ACCESSIBILITY: accessibility
MKTG_URL_OVERRIDES:
    TOS: https://{{ key "edxapp/learn-frontend-domain" }}/terms
    ABOUT: https://{{ key "edxapp/learn-frontend-domain" }}/about
    ACCESSIBILITY: https://accessibility.mit.edu/
MOBILE_STORE_URLS: {}
########################################################################################
# Previously assumed to be unnecessary config as it duplicates code from               #
# common.py. Unfortunately the `DOC_STORE_CONFIG` object does not propagate backwards, #
# and so the entire structure has to be specified again                                #
########################################################################################
MODULESTORE:
    default:
        ENGINE: xmodule.modulestore.mixed.MixedModuleStore
        OPTIONS:
            mappings: {}
            stores:
            - ENGINE: xmodule.modulestore.split_mongo.split_draft.DraftVersioningModuleStore
              NAME: split
              DOC_STORE_CONFIG:
                <<: *docstore_config
              OPTIONS:
                default_class: xmodule.hidden_block.HiddenBlock
                fs_root: /openedx/data/var/edxapp/data
                render_template: common.djangoapps.edxmako.shortcuts.render_to_string
            - ENGINE: xmodule.modulestore.mongo.DraftMongoModuleStore
              NAME: draft
              DOC_STORE_CONFIG:
                <<: *docstore_config
              OPTIONS:
                default_class: xmodule.hidden_block.HiddenBlock
                fs_root: /openedx/data/var/edxapp/data
                render_template: common.djangoapps.edxmako.shortcuts.render_to_string
NOTIFICATIONS_DEFAULT_FROM_EMAIL: {{ key "edxapp/bulk-email-default-from-email" }} # ADDED
NOTIFICATION_TYPE_ICONS: {} # ADDED
DEFAULT_NOTIFICATION_ICON_URL: '' # ADDED
OAUTH2_PROVIDER:
  OAUTH2_VALIDATOR_CLASS: "openedx.core.djangoapps.oauth_dispatch.dot_overrides.validators.EdxOAuth2Validator"
  REFRESH_TOKEN_EXPIRE_SECONDS: 7776000
  SCOPES_BACKEND_CLASS: "openedx.core.djangoapps.oauth_dispatch.scopes.ApplicationModelScopes"
  SCOPES:
    read: "Read access"
    write: "Write access"
    email: "Know your email address"
    profile: "Know your name and username"
    certificates:read: "Retrieve your course certificates"
    grades:read: "Retrieve your grades for your enrolled courses"
    tpa:read: "Retrieve your third-party authentication username mapping"
    user_id: "Know your user identifier"
  DEFAULT_SCOPES:
    read: "Read access"
    write: "Write access"
    email: "Know your email address"
    profile: "Know your name and username"
  REQUEST_APPROVAL_PROMPT: "auto_even_if_expired"
  ERROR_RESPONSE_WITH_SCOPES: true
  ALLOWED_REDIRECT_URI_SCHEMES:
    - "https"
    - "edu.mit.learn.app"
OL_OPENEDX_COURSE_SYNC_SERVICE_WORKER_USERNAME: studio_worker # ADDED for ol_openedx_course_sync
ORA2_FILE_PREFIX: mitxonline/ora2  # MODIFIED
PARTNER_SUPPORT_EMAIL: ''
PASSWORD_POLICY_COMPLIANCE_ROLLOUT_CONFIG:
    ENFORCE_COMPLIANCE_ON_LOGIN: false
PASSWORD_RESET_SUPPORT_LINK: ''
PAYMENT_SUPPORT_EMAIL: {{ key "edxapp/sender-email-address" }}  # MODIFIED
PLATFORM_DESCRIPTION: MIT Learn # MODIFIED
PLATFORM_FACEBOOK_ACCOUNT: http://www.facebook.com/YourPlatformFacebookAccount
PLATFORM_NAME: MIT Learn  # MODIFIED
PLATFORM_TWITTER_ACCOUNT: '@YourPlatformTwitterAccount'
POLICY_CHANGE_GRADES_ROUTING_KEY: edx.lms.core.default
PRESS_EMAIL: support@mitxonline.mit.edu # MODIFIED
{{ with secret "secret-mitxonline/edxapp" }}
PROCTORING_BACKENDS:
    DEFAULT: 'proctortrack'
    'proctortrack':
      'client_id': '{{ .Data.proctortrack_client_id }}'
      'client_secret': '{{ .Data.proctortrack_client_secret }}'
      'base_url': '{{ key "edxapp/proctortrack-base-url" }}'
    'null': {}
PROCTORING_USER_OBFUSCATION_KEY: {{ .Data.proctortrack_user_obfuscation_key }}
{{ end }}

PROCTORING_SETTINGS: {}
REGISTRATION_EXTRA_FIELDS:
    city: hidden
    confirm_email: hidden
    country: hidden
    gender: optional
    goals: optional
    honor_code: required
    level_of_education: optional
    mailing_address: hidden
    terms_of_service: hidden
    year_of_birth: optional
RETIRED_EMAIL_DOMAIN: retired.invalid
RETIRED_EMAIL_PREFIX: retired__user__
RETIRED_USERNAME_PREFIX: retired__user__
RETIREMENT_SERVICE_WORKER_USERNAME: retirement_service_worker
RETIREMENT_STATES:
    - PENDING
    - RETIRING_FORUMS
    - FORUMS_COMPLETE
    - RETIRING_ENROLLMENTS
    - ENROLLMENTS_COMPLETE
    - RETIRING_NOTES
    - NOTES_COMPLETE
    - RETIRING_PROCTORING
    - PROCTORING_COMPLETE
    - RETIRING_LMS_MISC
    - LMS_MISC_COMPLETE
    - RETIRING_LMS
    - LMS_COMPLETE
    - ERRORED
    - ABORTED
    - COMPLETE
SEGMENT_KEY: null
SENTRY_ENVIRONMENT: {{ env "ENVIRONMENT" }}
SERVER_EMAIL: odl-devops@mit.edu # MODIFIED
# Removing the session cookie domain as it is no longer needed for sharing the cookie
# between LMS and Studio (TMM 2021-10-22)
# UPDATE: The session cookie domain appears to still be required for enabling the
# preview subdomain to share authentication with LMS (TMM 2021-12-20)

# Adding session cookie settings for LTI config
# https://docs.openedx.org/en/latest/site_ops/install_configure_run_guide/configuration/lti/configure_lti.html#configure-the-tool-consumer
SESSION_COOKIE_SAMESITE: 'None'
SESSION_COOKIE_SAMESITE_FORCE_ALL: true
SESSION_COOKIE_DOMAIN: {{ key "edxapp/session-cookie-domain" }}  # MODIFIED
SESSION_COOKIE_SECURE: true # MODIFIED
SESSION_SAVE_EVERY_REQUEST: false
SOCIAL_MEDIA_FOOTER_URLS: {}
SOCIAL_MEDIA_FOOTER_ACE_URLS: {}
SOCIAL_MEDIA_LOGO_URLS : {}
SOCIAL_SHARING_SETTINGS:
    CERTIFICATE_FACEBOOK: false
    CERTIFICATE_TWITTER: false
    CUSTOM_COURSE_URLS: false
    DASHBOARD_FACEBOOK: false
    DASHBOARD_TWITTER: false
STATIC_URL_BASE: /static/
STATIC_ROOT_BASE: /openedx/staticfiles/
# Django 4.2+ storage configuration
# STORAGES:
#   default:
#     BACKEND: storages.backends.s3.S3Storage
#     OPTIONS:
#       bucket_name: {{ key "edxapp/s3-storage-bucket" }}
#       custom_domain: {{ key "edxapp/s3-storage-bucket" }}.s3.amazonaws.com
#       file_overwrite: false
#       default_acl: null
#   staticfiles:
#     BACKEND: django.contrib.staticfiles.storage.StaticFilesStorage
#   block_structures:
#     BACKEND: storages.backends.s3.S3Storage
#     OPTIONS:
#       bucket_name: {{ key "edxapp/s3-storage-bucket" }}
#       location: coursestructure/
#       default_acl: public-read
#   grades:
#     BACKEND: storages.backends.s3.S3Storage
#     OPTIONS:
#       bucket_name: {{ key "edxapp/s3-grades-bucket" }}
#       location: grades/
STUDIO_NAME: Studio
STUDIO_SHORT_NAME: Studio
SUPPORT_SITE_LINK: https://mitxonline.zendesk.com/hc/
SYSADMIN_DEFAULT_BRANCH: live
SYSTEM_WIDE_ROLE_CLASSES: []
TECH_SUPPORT_EMAIL: odl-devops@mit.edu  # MODIFIED
TIME_ZONE: America/New_York
UNIVERSITY_EMAIL: {{ key "edxapp/sender-email-address" }} # MODIFIED
USERNAME_REPLACEMENT_WORKER: OVERRIDE THIS WITH A VALID USERNAME
VIDEO_IMAGE_MAX_AGE: 31536000
VIDEO_IMAGE_SETTINGS:
    DIRECTORY_PREFIX: video-images/
    # STORAGE_CLASS is required by edx-val and should NOT be removed
    # Reference: https://github.com/openedx/edx-val/blob/master/edxval/utils.py#L160-L163
    STORAGE_CLASS: storages.backends.s3boto3.S3Boto3Storage
    STORAGE_KWARGS:
        location: media/  # MODIFIED
    VIDEO_IMAGE_MAX_BYTES: 2097152
    VIDEO_IMAGE_MIN_BYTES: 2048
    BASE_URL: /media/
VIDEO_TRANSCRIPTS_MAX_AGE: 31536000
VIDEO_TRANSCRIPTS_SETTINGS:
    DIRECTORY_PREFIX: video-transcripts/
    # STORAGE_CLASS is required by edx-val and should NOT be removed
    # Reference: https://github.com/openedx/edx-val/blob/master/edxval/utils.py#L160-L163
    STORAGE_CLASS: storages.backends.s3boto3.S3Boto3Storage
    STORAGE_KWARGS:
        location: media/  # MODIFIED
    VIDEO_TRANSCRIPTS_MAX_BYTES: 3145728
    BASE_URL: /media/
VIDEO_UPLOAD_PIPELINE:
    BUCKET: ''
    ROOT_PATH: ''
WIKI_ENABLED: true
XBLOCK_FS_STORAGE_BUCKET: null
XBLOCK_FS_STORAGE_PREFIX: null
XBLOCK_SETTINGS: {}
# Needed for showing pages in Canvas via LTI
X_FRAME_OPTIONS: "ALLOW-FROM canvas.mit.edu"
YOUTUBE_API_KEY: null
ZENDESK_API_KEY: ''
ZENDESK_CUSTOM_FIELDS: {}
ZENDESK_GROUP_ID_MAPPING: {}
ZENDESK_OAUTH_ACCESS_TOKEN: ''
ZENDESK_URL: ''
ZENDESK_USER: ''

##############################################
# We will not be using the edX Ecommerce app #
##############################################
# ECOMMERCE_API_SIGNING_KEY: SET-ME-PLEASE
# ECOMMERCE_API_URL: http://localhost:8002/api/v2
ECOMMERCE_PUBLIC_URL_ROOT: {{ key "edxapp/lms-domain" }}  # MODIFIED
