# -*- mode: yaml -*-
{{ with secret "secret-mitxonline/edxapp" }}
SOCIAL_AUTH_OAUTH_SECRETS:
  ol-oauth2: {{ .Data.mitxonline_oauth_secret }}
{{ end }}

ACCOUNT_MICROFRONTEND_URL: null
ACE_CHANNEL_DEFAULT_EMAIL: django_email
ACE_CHANNEL_TRANSACTIONAL_EMAIL: django_email
ACE_ENABLED_CHANNELS:
- django_email
ACE_ENABLED_POLICIES:
- bulk_email_optout
ACE_ROUTING_KEY: edx.lms.core.default
# ALTERNATE_WORKER_QUEUES: cms  # The code already has this default
# ANALYTICS_API_KEY: ''
# ANALYTICS_API_URL: http://localhost:18100
API_ACCESS_FROM_EMAIL: api-requests@example.com
API_ACCESS_MANAGER_EMAIL: api-access@example.com
API_DOCUMENTATION_URL: http://course-catalog-api-guide.readthedocs.io/en/latest/
AUDIT_CERT_CUTOFF_DATE: null
AUTH_DOCUMENTATION_URL: http://course-catalog-api-guide.readthedocs.io/en/latest/authentication/index.html
BULK_EMAIL_ROUTING_KEY_SMALL_JOBS: edx.lms.core.default
BULK_EMAIL_RETRY_DELAY_BETWEEN_SENDS: 1
COMMUNICATIONS_MICROFRONTEND_URL: /communications  # ADDED
CONTACT_MAILING_ADDRESS: SET-ME-PLEASE
CREDIT_HELP_LINK_URL: ''
DCS_SESSION_COOKIE_SAMESITE: Lax
DCS_SESSION_COOKIE_SAMESITE_FORCE_ALL: true
DISCUSSION_SETTINGS:
    MAX_UPLOAD_FILE_SIZE: 20971520 # File upload size in Bytes, Equals to 20MB
GIT_REPO_DIR: /openedx/data/export_course_repos
GOOGLE_ANALYTICS_LINKEDIN: ''
GOOGLE_ANALYTICS_TRACKING_ID: ''
GOOGLE_SITE_VERIFICATION_ID: ''
HTTPS: 'on'
LTI_AGGREGATE_SCORE_PASSBACK_DELAY: 900
LTI_USER_EMAIL_DOMAIN: lti.example.com
MAILCHIMP_NEW_USER_LIST_ID: null
OAUTH_DELETE_EXPIRED: true
OAUTH_ENFORCE_SECURE: true
OAUTH_EXPIRE_CONFIDENTIAL_CLIENT_DAYS: 365
OAUTH_EXPIRE_PUBLIC_CLIENT_DAYS: 30
OPTIMIZELY_PROJECT_ID: null
ORA_GRADING_MICROFRONTEND_URL: /ora-grading  # ADDED
ORDER_HISTORY_MICROFRONTEND_URL: null
ORGANIZATIONS_AUTOCREATE: true
PAID_COURSE_REGISTRATION_CURRENCY:
- usd
- $
PARENTAL_CONSENT_AGE_LIMIT: 13
PDF_RECEIPT_BILLING_ADDRESS: 'Enter your receipt billing

    address here.

    '
PDF_RECEIPT_COBRAND_LOGO_PATH: ''
PDF_RECEIPT_DISCLAIMER_TEXT: 'ENTER YOUR RECEIPT DISCLAIMER TEXT HERE.

    '
PDF_RECEIPT_FOOTER_TEXT: 'Enter your receipt footer text here.

    '
PDF_RECEIPT_LOGO_PATH: ''
PDF_RECEIPT_TAX_ID: 00-0000000
PDF_RECEIPT_TAX_ID_LABEL: fake Tax ID
PDF_RECEIPT_TERMS_AND_CONDITIONS: 'Enter your receipt terms and conditions here.

    '
PROFILE_IMAGE_BACKEND:
    class: openedx.core.storage.OverwriteStorage
    options:
        base_url: /media/profile-images/
        location: /openedx/data/var/edxapp/media/profile-images/
PROFILE_IMAGE_MAX_BYTES: 1048576
PROFILE_IMAGE_MIN_BYTES: 100
PROFILE_IMAGE_SECRET_KEY: placeholder_secret_key
PROFILE_IMAGE_SIZES_MAP:
    full: 500
    large: 120
    medium: 50
    small: 30
PROFILE_MICROFRONTEND_URL: null
PROGRAM_CERTIFICATES_ROUTING_KEY: edx.lms.core.default
PROGRAM_CONSOLE_MICROFRONTEND_URL: null
REGISTRATION_VALIDATION_RATELIMIT: 1000000/minute  # ADDED KEY
REGISTRATION_RATELIMIT: 1000000/minute  # ADDED KEY
RATELIMIT_RATE: '600/m'  # ADDED KEY
RECALCULATE_GRADES_ROUTING_KEY: edx.lms.core.default
SITE_NAME: {{ key "edxapp/lms-domain" }}  # MODIFIED
SESSION_COOKIE_NAME: {{ env "ENVIRONMENT" }}-edx-lms-sessionid  # MODIFIED
THIRD_PARTY_AUTH_BACKENDS:
- ol_social_auth.backends.OLOAuth2
- social_core.backends.google.GoogleOAuth2
- social_core.backends.linkedin.LinkedinOAuth2
- social_core.backends.facebook.FacebookOAuth2
- social_core.backends.azuread.AzureADOAuth2
- common.djangoapps.third_party_auth.appleid.AppleIdAuth
- common.djangoapps.third_party_auth.identityserver3.IdentityServer3
- common.djangoapps.third_party_auth.saml.SAMLAuthBackend
- common.djangoapps.third_party_auth.lti.LTIAuthBackend
REDBEAT_KEY_PREFIX: redbeat_lms  # ADDED - RedBeat key prefix to separate LMS and CMS schedules
TRACKING_SEGMENTIO_WEBHOOK_SECRET: ''
VERIFY_STUDENT:
    DAYS_GOOD_FOR: 365
    EXPIRING_SOON_WINDOW: 28
VIDEO_CDN_URL:
    EXAMPLE_COUNTRY_CODE: http://example.com/edx/video?s3_url=
WRITABLE_GRADEBOOK_URL: "/gradebook"  # MODIFIED for use with Gradeook MFE

########################################################
# We are not using any of the enterprise functionality #
########################################################
# ENTERPRISE_COURSE_ENROLLMENT_AUDIT_MODES:
# - audit
# - honor
# ENTERPRISE_CUSTOMER_SUCCESS_EMAIL: customersuccess@edx.org
# ENTERPRISE_ENROLLMENT_API_URL: https://localhost:18000/api/enrollment/v1/
# ENTERPRISE_INTEGRATIONS_EMAIL: enterprise-integrations@edx.org
# ENTERPRISE_SUPPORT_URL: ''
# ENTERPRISE_TAGLINE: ''

############################
# We aren't using Sailthru #
############################
# ACE_CHANNEL_SAILTHRU_API_KEY: ''
# ACE_CHANNEL_SAILTHRU_API_SECRET: ''
# ACE_CHANNEL_SAILTHRU_DEBUG: true
# ACE_CHANNEL_SAILTHRU_TEMPLATE_NAME: null
