[Unit]
Description=Concourse service for managing continuous deployment pipelines
After=network.target

[Service]
Exec={{ concourse_config.deploy_directory }}
EnvironmentFile={{ concourse_config.env_file_path }}
{% if concourse_config._node_type == "web" %}
ExecReload=
{% endif %}
{% if concourse_config._node_type == "worker" %}
KillSignal=SIGUSR2
{% endif %}
