[Unit]
Description=Concourse service for managing continuous deployment pipelines
After=network.target

[Service]

EnvironmentFile={% concourse_config.env_file_path %}

{% if worker %}
KillSignal=SIGUSR2
{% endif %}
