---
secretsprovider: awskms://alias/infrastructure-secrets-qa
encryptedkey: AQICAHgQW+3bag/cl2fPG3dPdqAPbfcsZuwI7rETXZsx85HRpgHNo53bGgSBEnvNmModglvmAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMApkzxmwjrcsp+6wUAgEQgDtZaoHarOGlsVAbII/zlv2+IJRb3vk+B1fGRP87r4AmfvPdh44HPYeGH3D+xmNTClyRw+B0IzHy/3czAw==
config:
  eks:allowed_dns_zones:
  - ".odl.mit.edu"
  - "odl.mit.edu"
  - ".ol.mit.edu"
  - "ol.mit.edu"
  - "learn.mit.edu"
  - ".learn.mit.edu"
  - "mitxonline.mit.edu"
  - ".mitxonline.mit.edu"
  eks:apisix_admin_key:
    secure: v1:AndQEZrEKm/Q3QyP:60BdyhdeUbx2ds+YdP3vN5+Q0nIA0AyqLjtUo0XSj0f4vQQc6f5PsLJOKwZj1/4T
  eks:apisix_ingress_enabled: "true"
  eks:apisix_viewer_key:
    secure: v1:T9I4WZSeg3lYawlD:d59YkDPqEo372v1ibNCtyYcGjxW0xXC2eXyTADHHZ4QeQ+gD8JuN3pCv78nNVQ/d
  eks:apisix_domains:
  - "api-pay-qa.ol.mit.edu"
  - "api-learn-ai-qa.ol.mit.edu"
  - "api.rc.learn.mit.edu"
  - "api.rc.mitxonline.mit.edu"
  eks:developer_role_policy_name: "AmazonEKSClusterAdminPolicy"
  eks:developer_role_kubernetes_groups: ["admin"]
  eks:developer_role_scope: "cluster"
  eks:ebs_csi_provisioner: "true"
  eks:efs_csi_provisioner: "true"
  eks:gateway_release_channel: "experimental"
  eks:namespaces:
  - "botkube"
  - "ecommerce"
  - "learn-ai"
  - "mitlearn"
  - "mitx-edxapp"
  - "mitx-staging-edxapp"
  - "mitxonline"
  - "mitxonline-edxapp"
  - "odl-video-service"
  - "xpro-edxapp"
  eks:nodegroups:
    worker-xlarge:
      disk_size_gb: 1000
      instance_type: "r7a.xlarge"
      labels:
        node_size: r7a.xlarge
        ondemand: true
      node_group_options: {}
      scaling:
        desired: 3
        max: 5
        min: 2
      tags: {}
      taints: {}
      version:
  environment:business_unit: operations
  environment:target_vpc: applications_vpc
