{{ with secret "secret-DEPLOYMENT/mongodb-forum" }}
MONGOHQ_URL="mongodb://{{ .Data.username }}:{{ .Data.password }}@{{ keyOrDefault "mongodb/host" "mongodb-master.service.consul:27017" }}/forum?replicaSet={{ keyOrDefault "mongodb/replica-set"  "rs0" }}"
{{ end }}
{{ with secret "secret-DEPLOYMENT/edx-forum" }}
API_KEY="{{ .Data.forum_api_key }}"
{{ end }}
GEM_HOME="/app/cs_comments_service/.gem"
GEM_PATH="/app/cs_comments_service/.gem"
PATH="/app/cs_comments_service/bin:/app/cs_comments_service/.gem/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
RACK_ENV="production"
SINATRA_ENV="production"
SEARCH_SERVER="https://{{ keyOrDefault "elasticsearch/host" "elasticsearch.service.consul" }}:443"
SEARCH_SERVER_ES7="https://{{ keyOrDefault "elasticsearch/host" "elasticsearch.service.consul" }}:443"
MONGOID_AUTH_MECH=":scram"
MONGOID_AUTH_SOURCE="admin"
MONGOID_USE_SSL="{{ keyOrDefault "mongodb/use-ssl" "false" }}"
HOME="/edx/app/forum"
NEW_RELIC_ENABLE="False"
NEW_RELIC_APP_NAME="default_env-default_deployment-forum"
NEW_RELIC_LICENSE_KEY=""
WORKER_PROCESSES="4"
DATA_DIR="/opt/forum"
LISTEN_HOST="0.0.0.0"
LISTEN_PORT="4567"
