{{ with secret "secret-DEPLOYMENT/mongodb-forum" }}
MONGOHQ_URL="mongodb://{{ .Data.username }}:{{ .Data.password }}@{{ keyOrDefault "mongodb/host" "mongodb-master.service.consul:27017" }}/forum?replicaSet={{ keyOrDefault "mongodb/replica-set"  "rs0" }}"
{{ end }}
{{ with secret "secret-DEPLOYMENT/edx-forum" }}
API_KEY="{{ .Data.forum_api_key }}"
{{ end }}
RBENV_ROOT="/edx/app/forum/.rbenv"
GEM_HOME="/edx/app/forum/.gem"
GEM_PATH="/edx/app/forum/.gem"
PATH="/edx/app/forum/cs_comments_service/bin:/edx/app/forum/.rbenv/bin:/edx/app/forum/.rbenv/shims:/edx/app/forum/.gem/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
RACK_ENV="production"
SINATRA_ENV="production"
SEARCH_SERVER="https://{{ keyOrDefault "elasticsearch/host" "elasticsearch.service.consul:443" }}"
SEARCH_SERVER_ES7="https://{{ keyOrDefault "elasticsearch/host" "elasticsearch.service.consul:443" }}"
ELASTICSEARCH_PORT=443
ELASTICSEARCH_VERIFY_SSL=false
MONGOID_AUTH_MECH=":scram"
MONGOID_AUTH_SOURCE="admin"
MONGOID_USE_SSL="{{ keyOrDefault "mongodb/use-ssl" "false" }}"
HOME="/edx/app/forum"
NEW_RELIC_ENABLE="False"
NEW_RELIC_APP_NAME="default_env-default_deployment-forum"
NEW_RELIC_LICENSE_KEY=""
WORKER_PROCESSES="4"
DATA_DIR="/opt/forum"
LISTEN_HOST="0.0.0.0"
LISTEN_PORT="4567"

eval "$(rbenv init -)"
