# -*- mode: yaml -*-
{{ with $deployment := key "edx/deployment" }}
{{ with secret (printf "secret-%s/edx-notes" $deployment) }}
SECRET_KEY: {{ .Data.django_secret_key }}
# ID and Secret used for authenticating JWT Auth Tokens should match those
# configured for `edx-notes` Client in EdX's /admin/oauth2/client/
CLIENT_ID: {{ .Data.oauth_client_id }}
CLIENT_SECRET: {{ .Data.oauth_client_secret }}
{{ end }}
{{ with secret (printf "mariadb-%s/creds/notes" $deployment) }}
DATABASES:
  default:
    ENGINE: django.db.backends.mysql
    HOST: edxapp-db.service.consul
    NAME: edx_notes_api
    PASSWORD: {{ .Data.password }}
    PORT: 3306
    USER: {{ .Data.username }}
{{ end }}
{{ end }}

ALLOWED_HOSTS:
  - '*'

DEFAULT_HASHING_ALGORITHM: sha256

ELASTICSEARCH_DSL: {'default': {'hosts': '{{ keyOrDefault "elasticsearch/host" "elasticsearch.service.consul" }}:443', 'use_ssl': True, 'verify_certs': False, 'ssl_show_warn': False } }
ELASTICSEARCH_DSL_INDEX_SETTINGS: {'number_of_shards': 3, 'number_of_replicas': 1}
LOG_SETTINGS_DEBUG: True
