{
    email odl-devops@mit.edu
}

{% for domain in context.domains %}{{ domain }}{% if not loop.last %}, {% endif %}{% endfor %} {
    log {
        format json
        output file {{ context.log_file }}
    }

    reverse_proxy {{ context.upstream_address }}
}
