[Unit]
Description="Obtain an exclusive lock and run database migrations at startup."
Requires=network-online.target
After=consul-template.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/consul lock -timeout=6h -verbose lms_migrations /edx/bin/edxapp-migrate-lms
ExecStart=/usr/local/bin/consul lock -timeout=6h -verbose cms_migrations /edx/bin/edxapp-migrate-cms
RemainAfterExit=True
StandardOutput=journal
StandardError=journal
SyslogIdentifier=migrations
Restart=no

[Install]
WantedBy=multi-user.target
