---
secretsprovider: awskms://alias/infrastructure-secrets-qa
encryptedkey: AQICAHi7xhTkB8tf1ObyPMxDhODJja4Mn4jyIo32zZVlOiZPFgFh6HjKXQ0TnfnuSPxl6JL3AAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQM+0J7K+9drt+g+z83AgEQgDu10nkIqubh0RaWgj8PXlpM8P8LMoYVtNqAiWLepxKWYKhyVCaJeeZKZq6YhxZmWmsu1lMJgRYTyS50+g==
config:
  consul:address: https://consul-apps-qa.odl.mit.edu
  ovs:ami_branch_tag: "release-candidate"
  ovs:auto_scale:
    desired: 2
    max: 3
    min: 1
  ovs:default_domain: video-rc.odl.mit.edu
  ovs:domains:
  - video-rc.odl.mit.edu
  - techtv-dev.mit.edu
  - ttv-dev.mit.edu
  ovs:edx_base_url: https://courses-rc.xpro.mit.edu
  ovs:log_level: INFO
  ovs:rds_password:
    secure: v1:/n8kQRfM6Od/xUKw:wwUBWVPgtmgRrN9jOA5djHdkizHjPYsUI9UDZFf5eYeOGUjZXTqSYStSK8lizXRyujf5SLfKiWqXYUeQP97QumhPuTuNbDyw+6ByeKT49P8=
  ovs:route53_managed_domains:
  - video-rc.odl.mit.edu
  ovs:s3_bucket_name: odl-video-service-rc
  ovs:s3_subtitle_bucket_name: odl-video-service-subtitles-rc
  ovs:s3_thumbnail_bucket_name: odl-video-service-thumbnails-rc
  ovs:s3_transcode_bucket_name: odl-video-service-transcoded-rc
  ovs:s3_watch_bucket_name: odl-video-service-uploaded-rc
  ovs:target_vpc: applications_vpc
  ovs:use_shibboleth: "True"
  ovs:feature_annotations: "False"
  ovs:k8s_deploy: true
  ovs:k8s_cutover: true
  redis:max_connections: "30"
  vault:address: https://vault-qa.odl.mit.edu
  vault_server:env_namespace: operations.qa
