---
secretsprovider: awskms://alias/infrastructure-secrets-ci
encryptedkey: AQICAHjs8ajWpT7YRhWXwI//wPkHX53RHlo0DjkgQOwCBTUBwQH+6+5vJN0oRL26AlGpZxeZAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMk5PG2rZHL4/ftd1wAgEQgDtjxxfTYkCIIoqCW+BquaGmShSp5bNk0fo2zvujw7eVo1Jkm5qWBxp4F6n3YYFPMpk04QW8L0s7CHyxRA==
config:
  consul:address: https://consul-apps-ci.odl.mit.edu
  ovs:ami_branch_tag: "master"
  ovs:auto_scale:
    desired: 2
    max: 3
    min: 1
  ovs:default_domain: video-ci.odl.mit.edu
  ovs:domains:
  - video-ci.odl.mit.edu
  ovs:edx_base_url: https://courses-ci.xpro.mit.edu
  ovs:log_level: INFO
  ovs:rds_password:
    secure: v1:CFR8W+XpCttoYTa/:IRecvFvHJMZmf4hzMvWrJ00puDMFht2ArQSk/FDCZGnc7rQM42e7HtJwEeN1YI/W
  ovs:route53_managed_domains:
  - video-ci.odl.mit.edu
  ovs:s3_bucket_name: odl-video-service-ci
  ovs:s3_subtitle_bucket_name: odl-video-service-subtitles-ci
  ovs:s3_thumbnail_bucket_name: odl-video-service-thumbnails-ci
  ovs:s3_transcode_bucket_name: odl-video-service-transcoded-ci
  ovs:s3_watch_bucket_name: odl-video-service-uploaded-ci
  ovs:target_vpc: applications_vpc
  ovs:use_shibboleth: "False"
  ovs:deploy_to_k8s: true
  ovs:web_min_replicas: 2
  ovs:web_max_replicas: 10
  ovs:web_cpu_request: "500m"
  ovs:web_cpu_limit: "2000m"
  ovs:web_memory_request: "1Gi"
  ovs:web_memory_limit: "4Gi"
  ovs:celery_min_replicas: 1
  ovs:celery_max_replicas: 5
  ovs:celery_cpu_request: "250m"
  ovs:celery_cpu_limit: "1000m"
  ovs:celery_memory_request: "512Mi"
  ovs:celery_memory_limit: "2Gi"
  redis:max_connections: "30"
  vault:address: https://vault-ci.odl.mit.edu
  vault_server:env_namespace: operations.ci
