---
version: "3.7"
services:
# Init containers
  lms-permissions:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/overhangio/openedx-permissions:${TUTOR_PERMISSIONS_TAG}
    profiles:
    - web
    - worker
    env_file:
    - ./.env
    command: ["1000", "/openedx/data", "/openedx/media"]
    restart: on-failure
    volumes:
    - /opt/data/lms:/openedx/data
    - /opt/data/media:/openedx/media
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
  cms-permissions:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/overhangio/openedx-permissions:${TUTOR_PERMISSIONS_TAG}
    profiles:
    - web
    - worker
    env_file:
    - ./.env
    command: ["1000", "/openedx/data", "/openedx/media"]
    restart: on-failure
    volumes:
    - /opt/data/cms:/openedx/data
    - /opt/data/media:/openedx/media
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro

# Webapp definitions
  caddy:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/library/caddy:2.6.3
    profiles:
    - web
    env_file:
    - ./.env
    - ./.env_caddy
    restart: unless-stopped
    ports:
    - "80:80"
    - "443:443"
    volumes:
    - ./settings/Caddyfile:/etc/caddy/Caddyfile:ro
    - ./tls/certificate:/etc/caddy/certificate:ro
    - ./tls/key:/etc/caddy/key:ro
    - /opt/data/media:/openedx/media
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
  lms:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/${DOCKER_REPO_AND_DIGEST}
    profiles:
    - web
    env_file:
    - ./.env
    environment:
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.production
      UWSGI_WORKERS: 2
    ports:
    - "8000:8000" # this is to advertise the consul service but we will block direct access with the sg
    restart: unless-stopped
    volumes:
    - ./settings/lms.env.yml:/openedx/config/lms.env.yml:ro
    - ./settings/uwsgi.ini:/openedx/edx-platform/uwsgi.ini:ro
    - /opt/data/lms:/openedx/data
    - /opt/data/media:/openedx/media
    - ./ssh/id_rsa:/openedx/.ssh/id_rsa:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
  cms:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/${DOCKER_REPO_AND_DIGEST}
    profiles:
    - web
    env_file:
    - ./.env
    environment:
      SERVICE_VARIANT: cms
      DJANGO_SETTINGS_MODULE: cms.envs.production
      UWSGI_WORKERS: 2
    restart: unless-stopped
    volumes:
    - ./settings/cms.env.yml:/openedx/config/cms.env.yml:ro
    - ./settings/uwsgi.ini:/openedx/edx-platform/uwsgi.ini:ro
    - /opt/data/cms:/openedx/data
    - /opt/data/media:/openedx/media
    - ./ssh/id_rsa:/openedx/.ssh/id_rsa:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
  # per node healthcheck container
  healthcheck:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/mitodl/ol-infra-health-checks:latest
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - /etc/docker/compose:/etc/docker/compose
    profiles:
    - web
    ports:
    - "8097:8097"


# Worker definitions
  lms-migrations:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/${DOCKER_REPO_AND_DIGEST}
    profiles:
    - worker
    env_file:
    - ./.env
    environment:
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.production
    restart: on-failure
    volumes:
    - ./settings/lms.env.yml:/openedx/config/lms.env.yml:ro
    - /opt/data/lms:/openedx/data
    - /opt/data/media:/openedx/media
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
    command: ["python", "manage.py", "lms", "migrate", "--noinput"]
    depends_on:
      lms-permissions:
        condition: service_completed_successfully
  cms-migrations:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/${DOCKER_REPO_AND_DIGEST}
    profiles:
    - worker
    env_file:
    - ./.env
    environment:
      SERVICE_VARIANT: cms
      DJANGO_SETTINGS_MODULE: cms.envs.production
    restart: on-failure
    volumes:
    - ./settings/cms.env.yml:/openedx/config/cms.env.yml:ro
    - /opt/data/cms:/openedx/data
    - /opt/data/media:/openedx/media
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
    command: ["python", "manage.py", "cms", "migrate", "--noinput"]
    depends_on:
      cms-permissions:
        condition: service_completed_successfully
      lms-migrations:
        condition: service_completed_successfully


  waffle-flags:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/${DOCKER_REPO_AND_DIGEST}
    profiles:
    - worker
    environment:
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.production
    restart: on-failure
    volumes:
    - ./settings/lms.env.yml:/openedx/config/lms.env.yml:ro
    - ./settings/waffle_flags.yaml:/openedx/config/waffle_flags.yaml:ro
    - /opt/data/cms:/openedx/data
    - /opt/data/media:/openedx/media
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
    command: ["python", "set_waffle_flags.py", "/openedx/config/waffle_flags.yaml"]
    depends_on:
      lms-permissions:
        condition: service_completed_successfully
      lms-migrations:
        condition: service_completed_successfully
      cms-migrations:
        condition: service_completed_successfully
  lms-worker:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/${DOCKER_REPO_AND_DIGEST}
    profiles:
    - worker
    env_file:
    - ./.env
    environment:
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.production
    command: celery --app=lms.celery worker -B -E --loglevel=info --hostname=edx.lms.core.default.%%h
      --max-tasks-per-child=100 --exclude-queues=edx.cms.core.default
    restart: unless-stopped
    volumes:
    - ./settings/lms.env.yml:/openedx/config/lms.env.yml:ro
    - /opt/data/lms:/openedx/data
    - /opt/data/media:/openedx/media
    - ./ssh/id_rsa:/openedx/.ssh/id_rsa:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
    depends_on:
      lms-migrations:
        condition: service_completed_successfully
      cms-migrations:
        condition: service_completed_successfully
      waffle-flags:
        condition: service_started
        required: false

  process-scheduled-emails:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/${DOCKER_REPO_AND_DIGEST}
    profiles:
    - worker
    environment:
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.production
    restart: on-failure
    volumes:
    - ./settings/lms.env.yml:/openedx/config/lms.env.yml:ro
    - /opt/data/lms:/openedx/data
    - /opt/data/media:/openedx/media
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
    command: ["python", "process_scheduled_emails.py"]
    depends_on:
      lms-permissions:
        condition: service_completed_successfully

  saml-pull:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/${DOCKER_REPO_AND_DIGEST}
    profiles:
    - worker
    environment:
      SERVICE_VARIANT: lms
      DJANGO_SETTINGS_MODULE: lms.envs.production
    restart: on-failure
    volumes:
    - ./settings/lms.env.yml:/openedx/config/lms.env.yml:ro
    - /opt/data/lms:/openedx/data
    - /opt/data/media:/openedx/media
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
    command: ["python", "saml_pull.py"]
    depends_on:
      lms-permissions:
        condition: service_completed_successfully

  cms-worker:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/${DOCKER_REPO_AND_DIGEST}
    profiles:
    - worker
    env_file:
    - ./.env
    environment:
      SERVICE_VARIANT: cms
      DJANGO_SETTINGS_MODULE: cms.envs.production
    command: celery --app=cms.celery worker -B -E --loglevel=info --hostname=edx.cms.core.default.%%h
      --max-tasks-per-child 100 --exclude-queues=edx.lms.core.default
    restart: unless-stopped
    volumes:
    - ./settings/cms.env.yml:/openedx/config/cms.env.yml:ro
    - /opt/data/cms:/openedx/data
    - /opt/data/media:/openedx/media
    - ./ssh/id_rsa:/openedx/.ssh/id_rsa:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}:/openedx/staticfiles:ro
    - /opt/staticfiles-${ENVIRONMENT_TIER}/bundles:/openedx/edx-platform/common/static/bundles:ro
    depends_on:
      cms-migrations:
        condition: service_completed_successfully
      waffle-flags:
        condition: service_started
        required: false
