---
secretsprovider: awskms://alias/infrastructure-secrets-ci
encryptedkey: AQICAHi+npazf3LfzV9oCtcYyCMYLOzaQhbo9xt6lJVVpz9tkQHNlCOaS3lGDlMCvG/L9ietAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMdwbhPDTcV6FrCIXEAgEQgDu6rvtwg0AFgj7lW+cGenWMzhJSxv6UQ7HHLK86Wx1JRsWyoRzdbwRYb/PqNRI2vyDGX+6SgZSy2Hx87Q==
config:
  aws:region: us-east-1
  consul:address: https://consul-operations-ci.odl.mit.edu
  keycloak:auto_scale:
    desired: 2
    max: 3
    min: 1
  keycloak:db_capacity: "50"
  keycloak:instance_type: burstable_medium
  keycloak:domain: sso-ci.ol.mit.edu
  keycloak:rds_password:
    secure: v1:PUfBZ4RNoYON7yXj:31owK3ufKfYy24UFKh4pqIGn0ziPM/jpVIuCnMio9xHL5XaBv/02UmpgYe35GgYuiVoOwTfVamP0a+Lb+cLbbNrmRkBfDSoUEKMjFRwe2ps=
  keycloak:target_vpc: operations_vpc
  vault:address: https://vault-ci.odl.mit.edu
  vault_server:env_namespace: operations.ci
