---
secretsprovider: awskms://alias/infrastructure-secrets-production
encryptedkey: AQICAHiiGjYUolrtj8PCnScLM7oLAdMl8nJrLjQjnqyl1LykYgF8ItwPuXAW1jH6lqwxy1vkAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMOZmMUL4oqmU+79pMAgEQgDtMCoR59t3250a5cK0Rj5YkvMVkU0UGjpSkXrvgBV2t4hcP7GcffcjMd6vUKOtej/qP08eCgcjRdSu+ZA==
config:
  aws:region: us-east-1
  consul:address: https://consul-operations-production.odl.mit.edu
  keycloak:replicas: 3
  keycloak:memory_request: 2Gi
  keycloak:memory_limit: 4Gi
  keycloak:cpu_request: 1000m
  keycloak:cpu_limit: 2000m
  keycloak:db_capacity: "100"
  keycloak:db_use_blue_green: true
  keycloak:domain: sso.ol.mit.edu
  keycloak:instance_type: general_purpose_large
  keycloak:rds_password:
    secure: v1:Mm/fdzMRwsMVpw69:MX1c8FwEDhUeFDg5yImmYhxDrl3gi1PK9pZTbStEXiVpRWEGS3gwGELy+Ut33JpVVwvbTaY2l9A=
  keycloak:target_vpc: operations_vpc
  vault:address: https://vault-production.odl.mit.edu
  vault_server:env_namespace: operations.production
  keycloak:posthog_api_host: "https://ph.ol.mit.edu"
  keycloak:posthog_api_key:
    secure: <key-here>
