# Original Source: https://github.com/getredash/setup
#
# BSD 2-Clause License
#
# Copyright (c) 2018, Redash
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice, this
#   list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

---
version: "2.2"
services:
  server:
    image: mitodl/redash:{{ context.redash_version }}
    env_file:
    - ./.env
    restart: unless-stopped
    command: server
    profiles:
    - "web"
    ports:
    - "5000:5000"
    environment:
      REDASH_WEB_WORKERS: {{ context.web_worker_count }}
  scheduler:
    image: mitodl/redash:{{ context.redash_version }}
    env_file:
    - ./.env
    profiles:
    - "web"
    restart: unless-stopped
    command: scheduler
  rq_worker:
    image: mitodl/redash:{{ context.redash_version }}
    env_file:
    - ./.env
    profiles:
    - "worker"
    restart: unless-stopped
    command: worker
    environment:
      QUEUES: "periodic emails default"
      WORKERS_COUNT: {{ context.rq_worker_count }}
  scheduled_worker:
    image: mitodl/redash:{{ context.redash_version }}
    env_file:
    - ./.env
    profiles:
    - "worker"
    restart: unless-stopped
    command: worker
    environment:
      QUEUES: "scheduled_queries,schemas"
      WORKERS_COUNT: {{ context.scheduled_worker_count }}
  adhoc_worker:
    image: mitodl/redash:{{ context.redash_version }}
    env_file:
    - ./.env
    profiles:
    - "worker"
    restart: unless-stopped
    command: worker
    environment:
      QUEUES: "queries"
      WORKERS_COUNT: {{ context.adhoc_worker_count }}
  nginx:
    image: pennlabs/shibboleth-sp-nginx:latest
    restart: unless-stopped
    depends_on:
    - server
    profiles:
    - "web"
    links:
    - server:redash
    ports:
    - {{ context.unsecure_listener_port}}:{{ context.unsecure_listener_port }}
    - {{ context.listener_port }}:{{ context.listener_port }}
    volumes:
    - {{ context.certificate_file }}:/etc/nginx/nginx.pem:ro
    - {{ context.certificate_key_file }}:/etc/nginx/nginx-key.pem:ro
    - {{ context.nginx_directory }}/nginx.conf:/etc/nginx/conf.d/redash.conf:ro
    - {{ context.nginx_directory }}/shib_fastcgi_params:/etc/nginx/shib_fastcgi_params:ro
    - {{ context.nginx_directory }}/fastcgi_params:/etc/nginx/fastcgi_params:ro
    - {{ context.nginx_directory }}/fastcgi.conf:/etc/nginx/fastcgi.conf:ro
    - {{ context.nginx_directory }}/shib_clear_headers:/etc/nginx/shib_clear_headers:ro
    - {{ context.shib_directory }}/attribute-map.xml:/etc/shibboleth/attribute-map.xml:ro
    - {{ context.shib_directory }}/shibboleth2.xml:/etc/shibboleth/shibboleth2.xml:ro
    - {{ context.shib_directory }}/sp-signing-key.pem:/etc/shibboleth/sp-signing-key.pem:ro
    - {{ context.shib_directory }}/sp-signing-cert.pem:/etc/shibboleth/sp-signing-cert.pem:ro
    - {{ context.shib_directory }}/sp-encrypting-key.pem:/etc/shibboleth/sp-encrypting-key.pem:ro
    - {{ context.shib_directory }}/sp-encrypting-cert.pem:/etc/shibboleth/sp-encrypting-cert.pem:ro
    - {{ context.shib_directory }}/mit-md-cert.pem:/etc/shibboleth/mit-md-cert.pem:ro
