---
log_schema:
  timestamp_key: vector_timestamp
  host_key: log_host

sources:
  collect_edxapp_nginx_access_logs:
    type: file
    file_key: log_file
    include:
    - /edx/var/log/nginx/access.log
  collect_edxapp_nginx_error_logs:
    type: file
    file_key: log_file
    include:
    - /edx/var/log/nginx/error.log

  collect_edxapp_logs:
    type: file
    file_key: log_file
    include:
    - /var/log/edxapp/*.log
  collect_edxapp_system_auth_logs:
    type: file
    file_key: log_file
    include:
    - /var/log/auth.log

  collect_edxapp_journald_logs:
    type: journald
    current_boot_only: true
    include_units:
    - consul
    - consul-template
    - vault

transforms:

  parse_edxapp_logs:
    inputs:
    - 'collect_edxapp_logs'
    type: remap
    source: |
      event, err = parse_json(.message)
      if event != null {
        . = merge!(., event)
        .log_process = "edxapp"
        .environment = "${ENVIRONMENT}"
      }

  enrich_edxapp_logs:
    type: aws_ec2_metadata
    inputs:
    - 'parse_edxapp_logs'
    namespace: ec2

  parse_edxapp_system_auth_logs:
    inputs:
    - 'collect_edxapp_system_auth_logs'
    type: remap
    source: |
      parsed, err = parse_syslog(.message)
      if parsed != null {
        . = merge(., parsed)
        .log_process = "authlog"
        .environment = "${ENVIRONMENT}"
      }

  filter_malformed_message_edxapp_system_auth_logs:
    inputs:
    - 'parse_edxapp_system_auth_logs'
    type: filter
    condition: .malformed != true

  filter_cron_edxapp_system_auth_log:
    inputs:
    - 'filter_malformed_message_edxapp_system_auth_logs'
    type: filter
    condition: .appname != "CRON"

  parse_edxapp_nginx_access_logs:
    inputs:
    - 'collect_edxapp_nginx_access_logs'
    type: remap
    source: |
      parsed, err = parse_json(.message)
      if parsed != null {
        ., err = merge(., parsed)
        .log_process = "nginx"
        .environment = "${ENVIRONMENT}"
      }

  filter_malformed_message_edxapp_nginx_access_logs:
    inputs:
    - 'parse_edxapp_nginx_access_logs'
    type: filter
    condition: .malformed != true

  filter_healthchecks_edxapp_nginx_access_logs:
    inputs:
    - 'filter_malformed_message_edxapp_nginx_access_logs'
    type: filter
    condition: '! contains!(.http_user_agent, "ELB-HealthChecker")'

  parse_edxapp_nginx_error_logs:
    inputs:
    - 'collect_edxapp_nginx_error_logs'
    type: remap
    source: |
      matches, err = parse_regex(
        .message,
        r'^(?P<time>\d{4}/\d{2}/\d{2} \d{2}:\d{2}:\d{2}) \[(?P<log_level>\w+)\] \S+ (?P<message>.*)$'
      )
      if matches != null {
        .message = matches.message
        .log_process = "nginx"
        .environment = "${ENVIRONMENT}"
      } else {
        log(err, level: "error")
        .malformed = true
      }

  filter_malformed_message_edxapp_nginx_error_logs:
    inputs:
    - 'parse_edxapp_nginx_error_logs'
    type: filter
    condition: .malformed != true

sinks:
  ship_edxapp_logs_to_grafana_cloud:
    inputs:
    - 'collect_edxapp_journald_logs'
    - 'enrich_edxapp_logs'
    - 'filter_cron_edxapp_system_auth_log'
    - 'filter_healthchecks_edxapp_nginx_access_logs'
    - 'filter_malformed_message_edxapp_nginx_error_logs'
    type: loki
    auth:
      strategy: basic
      password: ${GRAFANA_CLOUD_API_KEY}
      user: "${GRAFANA_CLOUD_LOKI_API_USER}"
    endpoint: https://logs-prod-us-central1.grafana.net
    encoding:
      codec: json
    labels:
      environment: ${ENVIRONMENT}
      application: edxapp
      service: {{context.edx_installation}}
      hostname: ${HOSTNAME}
    out_of_order_action: rewrite_timestamp
