from pyinfra import host
from bilder.components.baseline.setup import install_baseline_packages
from bilder.components.{{_copier_answers.component_name }}.steps import (
    install_{{_copier_answers.component_name }},
    configure_{{_copier_answers.component_name }},
    {{_copier_answers.component_name }}_service
)
from bilder.components.{{_copier_answers.component_name }}.models import {{_copier_answers.component_name | capitalize }}Config
from bilder.facts import has_systemd  # noqa: F401


{{_copier_answers.component_name }}_config = {{_copier_answers.component_name|capitalize }}Config()
install_baseline_packages()
install_{{_copier_answers.component_name }}({{_copier_answers.component_name }}_config)
configure_{{_copier_answers.component_name }}({{_copier_answers.component_name }}_config)
if host.fact.has_systemd:
    {{_copier_answers.component_name }}_service({{_copier_answers.component_name }}_config)
