{{ with secret "mariadb-DEPLOYMENT/creds/xqueue" }}
mysql_creds: &mysql_creds
  ENGINE: django.db.backends.mysql
  PORT: 3306
  USER: {{ .Data.username }}
  PASSWORD: {{ .Data.password }}
{{ end }}

{{ with secret "secret-DEPLOYMENT/edx-xqueue" }}
USERS:
  edxapp: {{ .Data.edxapp_password }}
  xqwatcher: {{ .Data.xqwatcher_password }}
{{ end }}

AWS_ACCESS_KEY_ID: ""
AWS_SECRET_ACCESS_KEY: ""
CONSUMER_DELAY: 10
CSRF_COOKIE_SECURE: false
DATABASES:
  default:
    ATOMIC_REQUESTS: true
    CONN_MAX_AGE: 0
    HOST: edxapp-db.service.consul
    NAME: xqueue
    OPTIONS: {}
    <<: *mysql_creds
LOCAL_LOGLEVEL: INFO
LOGGING_ENV: prod
LOG_DIR: /edx/var/logs/xqueue
NEWRELIC_LICENSE_KEY: not-a-valid-key
SESSION_COOKIE_SECURE: false
SUBMISSION_PROCESSING_DELAY: 1
SYSLOG_SERVER: localhost
UPLOAD_BUCKET: {{ key "edxapp/s3-grades-bucket" }}
UPLOAD_PATH_PREFIX: xqueue
XQUEUES:
  Watcher-MITx-6.0001r: null
  Watcher-MITx-6.00x: null
  mitx-686xgrader: null
  mitx-6S082grader: null
  mitx-940grader: null
