apache-superset[cors,thumbnails,prophet,trino]>=6,<7
authlib
celery-redbeat
duckdb
flask-caching
flask-oidc
flask-openid
hvac
playwright
psycopg2-binary
redis
shillelagh[all]
superset-nl-explorer @ git+https://github.com/mitodl/superset-nl-explorer.git@d00f9aa74e2d049b0574ba45da0a3e185dda6a60
