---
secretsprovider: awskms://alias/infrastructure-secrets-ci
encryptedkey: AQICAHi3MZ/Pjy2dahB1Qm+zKkKDPV1b9MYPGp7k649HPjmOHAFb8B9KFDK2X+gl09+NPE49AAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMyPe1YZ/9V0H40cXPAgEQgDs8dufeO3IZIADB7EPhZ0i5Tv4A2YwHZAVxZBIXWLtYdGrrvxB5InDDRWvGHLBHenw30cC064I59w00MA==
config:
  aws:region: us-east-1
  consul:address: https://consul-apps-ci.odl.mit.edu
  ecommerce:apisix_ingress_class: apache-apisix
  ecommerce:backend_domain: "api-pay-ci.ol.mit.edu"
  ecommerce:learn_backend_domain: "api.ci.learn.mit.edu"
  ecommerce:db_password:
    secure: v1:rkeSh1S69nUNqVvu:cSeK5sUm8Q3RiFjCLwVcte3JGTR9cLSSiekj3YEcdcxYQWNih3h4YjuTAOgLed4C6wjBo5LL+aRUsUKR3mX96bOx3bTAgUxxIYhg/btcKMU=
  ecommerce:env_vars:
    CELERY_TASK_ALWAYS_EAGER: "False"
    DEBUG: "true"
    DEV_ENV: "true"
    ENVIRONMENT: "dev"
    MITOL_UE_BASE_URL: "https://api-pay-ci.ol.mit.edu"
    MITOL_UE_COOKIE_DOMAIN: "ol.mit.edu"
    MITOL_UE_COOKIE_NAME: "mitolue"
    MITOL_UE_DB_DISABLE_SSL: "True"
    MITOL_UE_FEATURES_DEFAULT: "True"
    MITOL_UE_FROM_EMAIL: "donotreply@ol.mit.edu" ###FIX
    MITOL_UE_HOSTNAME: "api-pay-ci.ol.mit.edu"
    MITOL_UE_PAYMENT_BASKET_CHOOSER: "http://pay-ci.ol.mit.edu/"
    MITOL_UE_PAYMENT_BASKET_ROOT: "http://pay-ci.ol.mit.edu/"
    MITOL_UE_PAYMENT_INTERSTITIAL_DEBUG: "False"
    MITOL_UE_SECURE_SSL_REDIRECT: "False" ###FIX
    MITOL_UE_USE_S3: "False" ###FIX
    NODE_ENV: "development"
    POSTHOG_API_HOST: "https://ph.ol.mit.edu"
    SITE_NAME: "MIT Open Learning Ecommerce"
    UWSGI_THREADS: "5"
  ecommerce:fastly_api_key:
    secure: v1:JDb8CVOYVuL9yIBb:OH4tOr9a1z58gz7tNaYbIMb0dFwC5TWwBN1GU5GP/HDh4DOH1+j4UVkF9/1hyXGS
  ecommerce:frontend_domain: "pay-ci.ol.mit.edu"
  redis:password:
    secure: v1:gSGSH3Lc+dcCjMGC:DWAY3/dEqzdQvZYPpv8p17Nle6Ew/5M5+aImd1rxPJxy4Xkh2eKcJsmxo2kgRgrQBKyDibEBrvQev1w/HL+L64+4g3CM075KkbvIMqPoP/c=
  vault:address: https://vault-ci.odl.mit.edu
  vault_server:env_namespace: operations.ci
  ecommerce:slack_channel: "ecommerce-releases"
