---
secretsprovider: awskms://alias/infrastructure-secrets-ci
encryptedkey: AQICAHi3MZ/Pjy2dahB1Qm+zKkKDPV1b9MYPGp7k649HPjmOHAGzwYvKdv8btlpNoWfQrhopAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMA4aPdRQRnWQHfbAYAgEQgDvk5wiD1oK6gGUeZPT7mw/zGXqFmUNovUnubtRP/Vp/YcVaewPWpeOq6nFf8jBRI34GpG+6pc5PxmSARw==
config:
  aws:region: us-east-1
  learn_ai:backend_domain: "api-learn-ai-ci.ol.mit.edu"
  learn_ai:canvas_syllabus_token:
    secure: v1:gTO7eJWYLyP62wAE:Ha2Tt/EZ+ITP4qrxWJ+IdMvaB77L2EGxCw8tl5qDezhcXZkaslzUKHHDaKwDfLQ2YsHcm/otJyRUWxqCNRwA4wy9aRFrz3EJKzXxOmNnE1c=
  learn_ai:db_password:
    secure: v1:LPQWUf68siLqkk30:JHBZ8gREGp0fRcAWH4ER7ExID5d3LVbn8BoFZ8o7tOBj43Jf+Jqh2c9acA/im/p9+W4c15appQNpC1hMHo4+hrIks3UIhC8a8+SV6GzO908=
  learn_ai:env_vars:
    AI_DEFAULT_RECOMMENDATION_MODEL: "openai/gpt-4o-mini"
    AI_DEFAULT_SYLLABUS_MODEL: "openai/gpt-4o-mini"
    AI_DEFAULT_TUTOR_MODEL: "openai/gpt-4o"
    AI_DEFAULT_VIDEO_GPT_MODEL: "openai/gpt-4o-mini"
    AI_MIT_CONTENTFILE_URL: "https://api.rc.learn.mit.edu/api/v1/contentfiles/"
    AI_MIT_SEARCH_URL: "https://api.rc.learn.mit.edu/api/v0/vector_learning_resources_search/"
    AI_MIT_SYLLABUS_URL: "https://api.rc.learn.mit.edu/api/v0/vector_content_files_search/"
    AI_MIT_VIDEO_TRANSCRIPT_URL: "https://api.rc.learn.mit.edu/api/v0/vector_content_files_search/"
    AI_PROMPT_CACHE_FUNCTION: "ai_chatbots.utils.get_django_cache"
    CELERY_TASK_ALWAYS_EAGER: "false"
    CSRF_ALLOWED_ORIGINS: '["https://learn-ai-ci.ol.mit.edu", "https://api-learn-ai-ci.ol.mit.edu"]'
    CSRF_TRUSTED_ORIGINS: '["https://learn-ai-ci.ol.mit.edu", "https://api-learn-ai-ci.ol.mit.edu"]'
    DEBUG: "false"
    DEV_ENV: "false"
    LANGSMITH_PROJECT: "learn-ai-ci"
    LANGSMITH_TRACING: "true"
    MITOL_APP_BASE_URL: "https://learn-ai-ci.ol.mit.edu"
    MITOL_COOKIE_DOMAIN: "ol.mit.edu"
    MITOL_COOKIE_NAME: "mitol"
    MITOL_ENVIRONMENT: "ci"
    MITOL_FEATURES_DEFAULT: "true"
    NODE_ENV: "development"
    OPENTELEMETRY_ENABLED: "true"
    OPENTELEMETRY_ENDPOINT: "grafana-alloy.operations.svc.cluster.local:4317"
    SENTRY_LOG_LEVEL: "ERROR"
    SENTRY_PROFILES_SAMPLE_RATE: "0.1"
    SENTRY_TRACES_SAMPLE_RATE: "0.1"
    SESSION_COOKIE_NAME: "session_learn_ai_ci"
    UWSGI_THREADS: "5"
  learn_ai:frontend_domain: "learn-ai-ci.ol.mit.edu"
  learn_ai:frontend_vars:
    MIT_LEARN_APP_BASE_URL: https://rc.learn.mit.edu/
    MIT_SEARCH_ELASTIC_URL: https://api.learn.mit.edu/api/v1/learning_resources_search/
    MIT_SEARCH_VECTOR_URL: https://api.learn.mit.edu/api/v0/vector_learning_resources_search/
    OPENEDX_API_BASE_URL: https://courses.rc.mitxonline.mit.edu/
    OPENEDX_LOGIN_URL: https://courses.rc.mitxonline.mit.edu/auth/login/ol-oauth2/?auth_entry=login
  learn_ai:learn_backend_domain: "api.ci.learn.mit.edu"
  redis:password:
    secure: v1:ObQfVCLRk72Bn9f3:7EKaqHGnHkYsurz0xWQcX9Cuhc4k0SSXcIIKSgYQnfFSu9uYHbUT0cpsic4M6SYG6ZuFxKXXeaZuLI2QC3s9Feo0oD+SEjetNxCZo0TPot8=
  vault:address: "https://vault-ci.odl.mit.edu"
  vault_server:env_namespace: "operations.ci"
