# -*- mode: yaml -*-
# ALTERNATE_WORKER_QUEUES: lms  # Already has a sane default in the code
COURSE_AUTHORING_MICROFRONTEND_URL: /authoring
GIT_REPO_EXPORT_DIR: /openedx/data/export_course_repos
GIT_EXPORT_DEFAULT_IDENT:
  name: MITx Residential
  email: mitx-devops@mit.edu

PARSE_KEYS: {}
REDBEAT_KEY_PREFIX: redbeat_cms  # ADDED - RedBeat key prefix to separate LMS and CMS schedules
SITE_NAME: {{ key "edxapp/studio-domain" }}  # MODIFIED
# Configuration for logging into studio via OAuth with LMS
{{ with secret "secret-mitx/edxapp" }}
SOCIAL_AUTH_EDX_OAUTH2_KEY: {{ .Data.studio_oauth_client.id }}
SOCIAL_AUTH_EDX_OAUTH2_SECRET: {{ .Data.studio_oauth_client.secret }}
{{ end }}
SOCIAL_AUTH_EDX_OAUTH2_URL_ROOT: https://{{ key "edxapp/lms-domain" }}  # possibly same as public LMS root URL
SOCIAL_AUTH_EDX_OAUTH2_PUBLIC_URL_ROOT: https://{{ key "edxapp/lms-domain" }}
SESSION_COOKIE_NAME: {{ env "ENVIRONMENT" }}-edx-studio-sessionid  # MODIFIED
COURSE_LIVE_HELP_URL: 'https://edx.readthedocs.io/projects/edx-partner-course-staff/en/latest/course_assets/course_live.html'
