[Unit]
Description="HashiCorp Consul ESM"
Documentation=https://github.com/hashicorp/consul-esm
Requires=network-online.target
After=network-online.target

[Service]
Type={{ context.systemd_execution_type }}
EnvironmentFile=-/etc/default/consul-esm
Restart=on-failure
LimitNOFILE=65536
ExecStart=/usr/local/bin/consul-esm $OPTIONS -config-dir={{ context.configuration_directory }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillSignal=SIGTERM
KillMode=process
User=consul
Group=consul

[Install]
WantedBy=multi-user.target
