[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target vault.service consul.service

[Service]
EnvironmentFile=-/etc/default/consul-template
Restart=on-failure
ExecStart=/usr/local/bin/consul-template -config={{ context.configuration_directory }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
{% if context.mode == "agent" and context.restart_period %}
RuntimeMaxSec={{ context.restart_period }}
RuntimeRandomizedExtraSec={{ context.restart_jitter }}
{% endif %}
User=consul-template
Group=consul-template
AmbientCapabilities=CAP_CHOWN CAP_FOWNER CAP_DAC_OVERRIDE CAP_KILL

[Install]
WantedBy=multi-user.target
