---
log_schema:
  timestamp_key: vector_timestamp
  host_key: log_host

sources:
  collect_edxapp_migrations_logs:
    type: journald
    current_boot_only: true
    include_units:
    - migrations

transforms:

  parse_edxapp_migrations_logs:
    inputs:
    - 'collect_edxapp_migrations_logs'
    type: remap
    source: |
      event, err = parse_json(.message)
      if event != null {
        . = merge!(., event)
        .log_process = "edxapp"
        .environment = "${ENVIRONMENT}"
      }

  enrich_edxapp_migrations_logs:
    type: aws_ec2_metadata
    inputs:
    - 'parse_edxapp_migrations_logs'
    namespace: ec2

sinks:
  ship_edxapp_migraitons_logs_to_grafana_cloud:
    inputs:
    - 'enrich_edxapp_migrations_logs'
    type: loki
    auth:
      strategy: basic
      password: ${GRAFANA_CLOUD_API_KEY}
      user: "${GRAFANA_CLOUD_LOKI_API_USER}"
    endpoint: https://logs-prod-us-central1.grafana.net
    encoding:
      codec: json
    labels:
      environment: ${ENVIRONMENT}
      application: edxapp
      service: {{context.edx_installation}}
      hostname: ${HOSTNAME}
    out_of_order_action: rewrite_timestamp
