---
sources:
  collect_nginx_metrics:
    type: nginx_metrics
    endpoints:
    - http://localhost/nginx_status

transforms:
  relabel_nginx_metrics:
    type: remap
    inputs:
    - 'collect_nginx_metrics'
    source: |
      .tags.job = "integrations/nginx"

  add_labels_to_nginx_metrics:
    type: remap
    inputs:
    - 'relabel_nginx_metrics'
    source: |
      .tags.environment = "${ENVIRONMENT}"
      .tags.application = "edxapp"
      .tags.service = "{{context.edx_installation}}"

sinks:
  ship_nginx_metrics_to_grafana_cloud:
    inputs:
    - 'add_labels_to_nginx_metrics'
    type: prometheus_remote_write
    endpoint: https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push
    healthcheck: false
    auth:
      strategy: basic
      user: "${GRAFANA_CLOUD_PROMETHEUS_API_USER}"
      password: ${GRAFANA_CLOUD_API_KEY}
