---
transforms:
  parse_edxapp_logs:
    inputs:
    - 'parse_docker_stdout_stderr'
    type: remap
    source: |
      .application = "edxapp"
      # Drop all logs pertaining to ELB healthchecks
      abort_match_healthcheck, err = (match_any(.message, [r'GET /heartbeat']))
      if abort_match_healthcheck {
        abort
      }

  enrich_logs_global_funnel:
    type: aws_ec2_metadata
    inputs:
    - "parse_edxapp_logs"
    namespace: ec2
