---
secretsprovider: awskms://alias/infrastructure-secrets-ci
encryptedkey: AQICAHjs8ajWpT7YRhWXwI//wPkHX53RHlo0DjkgQOwCBTUBwQFx9m+5C+NdLferEI0btCZKAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMyumhy7Iitmb+QbeVAgEQgDsWf6EA6MbapG+Oj/VU4e+E9bMhpzXOObyHByUDT1VBvg7Jmgo8YHS+Ca8R+wG9nNzizvISO2S9V8SlLg==
config:
  aws:region: us-east-1
  consul:address: https://consul-mitx-ci.odl.mit.edu
  edxapp:waffle_flags:
  - ["content_tagging.disabled", "--create", "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_advanced_settings_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_course_outline_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_course_team_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_export_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_files_uploads_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_grading_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_import_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_schedule_details_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_updates_page", "--create", "--superusers",
    "--everyone"]
  - ["course_experience.relative_dates", "--create", "--superusers", "--everyone"]
  - ["course_home.course_home_mfe_progress_tab", "--create", "--everyone"]
  - ["discussions.pages_and_resources_mfe", "--create", "--superusers", "--everyone"]
  - ["grades.bulk_management", "--create", "--superusers", "--everyone"]
  - ["grades.enforce_freeze_grade_after_course_end", "--create", "--superusers", "--everyone"]
  - ["grades.rejected_exam_overrides_grade", "--create", "--superusers", "--everyone"]
  - ["grades.writable_gradebook", "--create", "--superusers", "--everyone"]
  - ["learner_home_mfe.enabled", "--create", "--superusers", "--everyone"]
  - ["learner_recommendations.enable_dashboard_recommendations", "--create", "--superusers",
    "--everyone"]
  - ["new_core_editors.use_new_problem_editor", "--create", "--everyone"]
  - ["new_core_editors.use_new_text_editor", "--create", "--superusers", "--everyone"]
  - ["new_core_editors.use_new_video_editor", "--create", "--superusers", "--everyone"]
  - ["new_studio_mfe.use_new_home_page", "--create", "--superusers", "--everyone"]
  - ["new_studio_mfe.use_tagging_taxonomy_list_page", "--create", "--superusers",
    "--everyone"]
  - ["openresponseassessment.enhanced_staff_grader", "--create", "--superusers", "--everyone"]
  - ["studio.enable_checklists_quality", "--create", "--superusers", "--everyone"]
  - ["studio.library_authoring_mfe", "--deactivate"]
  - ["legacy_studio.certificates", "--create", "--everyone"]
  edxapp:business_unit: residential
  edxapp:db_password:
    secure: v1:Q1uI9EWaIrq2z2sY:pTBVK/vatuCQXgO3Z2ItArDb4P1QLpN/lP/jT9690boozaKjjJudoQZOyWjkbCFwGLieh+L9auw=
  edxapp:dns_zone: mitx
  edxapp:domains:
    lms: lms-ci.mitx.mit.edu
    preview: preview-ci.mitx.mit.edu
    studio: studio-ci.mitx.mit.edu
  edxapp:edx_forum_secrets:
    secure: v1:Cv6WRoXTzc4X0Mt/:JfUayMiJ3oXbRcmhCWfCLJqVvMAx3c8M0z4e5fXVj9L2fLMHfRVUhhQEn1O5lrbwnewNkzGIci1ArchaMiC9BpbVRYqfihQhT5/KH2UkaoVS6kvbgbL/M489Wa7AYpLxK47F/BPaBGLGkIZMesuo
  edxapp:edx_xqueue_secrets:
    secure: v1:ovK3uwt1RjhV81YB:Uw63YPpyTVNXV4jX9LnlMf/TqtnNjk+Ro0rynUf+ulEaZzot+bOCAqMlDyn5Xu7/nUx3iGwJEHVTrOnrMNlXiHCqOiYFpfFv8NIqc/x6+Q8+eJFGjcLxhqYidyQkUAZIfz9mRVCVgEjC423yfAMi+tMee05xKI6ylAy4aO7AjjfE0s8RMt1/toGhW6DF1MIDZw==
  edxapp:elb_healthcheck_interval: "30"
  edxapp:enable_notes: "True"
  edxapp:enabled_mfes:
    communications: communications
    authoring: authoring
    gradebook: gradebook
    learner_dashboard: dashboard
    learning: learn
    ora_grading: ora-grading
  edxapp:google_analytics_id: ""
  edxapp:mail_domain: edxapp-mail-ci.mitx.mit.edu
  edxapp:min_web_nodes: "1"
  edxapp:min_worker_nodes: "1"
  edxapp:sender_email_address: mitx-support+ci@mit.edu
  edxapp:target_vpc: residential_mitx_vpc
  edxapp:framework: "earthly"
  edxapp:web_node_capacity: "1"
  edxapp:worker_node_capacity: "1"
  mongodb:atlas_project_id: 617858f961f3016e0ade73e7
  vault:address: https://vault-ci.odl.mit.edu
  vault_server:env_namespace: operations.ci
  edxapp:k8s_vpc: residential_mitx_vpc
  edxapp:cluster_stack: infrastructure.aws.eks.residential.CI
  edxapp:mit_learn_api_domain: api.ci.learn.mit.edu
  edxapp:mit_learn_domain: ci.learn.mit.edu
  edxapp:marketing_domain: lms-ci.mitx.mit.edu
  edxapp:backend_lms_domain: courses-backend.ci.mitx.mit.edu
  edxapp:backend_studio_domain: studio-backend.ci.mitx.mit.edu
  edxapp:backend_preview_domain: preview-backend.ci.mitx.mit.edu
  edxapp:k8s_replicas:
    webapp:
      cms:
        min: 1
        max: 2
      lms:
        min: 1
        max: 2
    celery:
      lms:
        min: 1
        max: 4
      cms:
        min: 1
        max: 4
  edxapp:k8s_resources:
    webapp:
      lms:
        cpu_request: "250m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
      cms:
        cpu_request: "250m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
    celery:
      lms:
        cpu_request: "250m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
      cms:
        cpu_request: "250m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
  edxapp:k8s_deployment: true
  edxapp:k8s_cutover: false
  edxapp:disable_ec2_deployment: false
