---
secretsprovider: awskms://alias/infrastructure-secrets-production
encryptedkey: AQICAHgQalNS7T35ZlcFdhF0QuKeiJAbXMUbm01pjGwHEsjRCgF4aGd/aPWQE/Xl6+yg2i3QAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQML9B70uczH/BrDBcvAgEQgDvj4qpjZtDzwWyzwS//9PivKEIscFC5isQm6YJKeBcTP7pxVAxiGSEdeOf/6KANIcQX4RYoroRw6WYMXA==
config:
  aws:region: us-east-1
  consul:address: https://consul-xpro-production.odl.mit.edu
  edxapp:waffle_flags:
  - ["completion.enable_completion_tracking", "--create", "--superusers", "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_video_uploads_page", "--create", "--everyone"]
  - ["course_experience.relative_dates", "--create", "--superusers", "--everyone"]
  - ["course_experience.relative_dates_disable_reset", "--create", "--everyone"]
  - ["course_home.course_home_mfe_progress_tab", "--create", "--everyone"]
  - ["courseware.courseware_mfe", "--create", "--superusers", "--everyone"]
  - ["discussions.pages_and_resources_mfe", "--create", "--superusers", "--everyone"]
  - ["discussions.enable_new_structure_discussions", "--create", "--everyone"]
  - ["discussions.enable_discussions_mfe", "--create", "--everyone"]
  - ["effort_estimation.disabled", "--create", "--superusers", "--everyone"]
  - ["forum_v2.enable_mysql_backend", "--create", "--everyone"]
  - ["grades.enforce_freeze_grade_after_course_end", "--create", "--superusers", "--everyone"]
  - ["grades.rejected_exam_overrides_grade", "--create", "--superusers", "--everyone"]
  - ["grades.writable_gradebook", "--create", "--superusers", "--everyone"]
  - ["learner_home_mfe.enabled", "--create", "--superusers", "--everyone"]
  - ["learner_recommendations.enable_dashboard_recommendations", "--create", "--superusers",
    "--everyone"]
  - ["new_core_editors.use_new_problem_editor", "--create", "--deactivate"]
  - ["new_core_editors.use_new_text_editor", "--create", "--superusers"]
  - ["new_core_editors.use_new_video_editor", "--create", "--superusers"]
  - ["openresponseassessment.enhanced_staff_grader", "--create", "--superusers", "--everyone"]
  - ["studio.enable_checklists_quality", "--create", "--superusers", "--everyone"]
  - ["studio.library_authoring_mfe", "--deactivate"]
  edxapp:business_unit: mitxpro
  edxapp:db_password:
    secure: v1:U83x0i6WAndxuOLK:XsAILALTGbtjCqGJllcqg3EaOM0FF/SNmuiMAK2r3E9X5joW26kjOQzYUcKr0slkHBv8RUEr3xA=
  edxapp:db_use_blue_green: true
  edxapp:dns_zone: xpro
  edxapp:default_module_class: xmodule.hidden_block.HiddenBlock
  edxapp:domains:
    lms: courses.xpro.mit.edu
    preview: preview.xpro.mit.edu
    studio: studio.xpro.mit.edu
  edxapp:marketing_domain: xpro.mit.edu
  edxapp:move_db: true
  edxapp:edx_forum_secrets:
    secure: v1:YHqAWSdn7TNUn7d+:IBgiGsl4r8vymID8NV43rnfJy+qsJSXm/jXaWWALUfF9zXqRO4zJZhLS0d+etijGVwaZnF8v5zXlo+EczFrCe7ICHpS85zHgifbfDcw=
  edxapp:enable_notes: "True"
  edxapp:enabled_mfes:
    authoring: authoring
    communications: communications
    discussions: discuss
    gradebook: gradebook
    learning: learn
    ora_grading: ora-grading
  edxapp:google_analytics_id: UA-5145472-38
  edxapp:enable_xqueue: false
  edxapp:framework: "earthly"
  edxapp:mail_domain: edxapp-mail-production.xpro.mit.edu
  edxapp:min_web_nodes: "1"
  edxapp:min_worker_nodes: "0"
  edxapp:sender_email_address: support@xpro.mit.edu
  edxapp:web_node_capacity: "2"
  edxapp:worker_node_capacity: "0"
  edxapp:worker_instance_type: "m7a.medium"
  mongodb:atlas_project_id: 61b727c6b5bd11656741308b
  vault:address: https://vault-production.odl.mit.edu
  vault_server:env_namespace: operations.production
  edxapp:mit_learn_api_domain: api.learn.mit.edu
  edxapp:mit_learn_domain: learn.mit.edu
  edxapp:learn_ai_frontend_domain: "learn-ai.ol.mit.edu"
  edxapp:backend_lms_domain: courses-backend.xpro.mit.edu
  edxapp:backend_studio_domain: studio-backend.xpro.mit.edu
  edxapp:backend_preview_domain: preview-backend.xpro.mit.edu
  edxapp:k8s_replicas:
    webapp:
      cms:
        min: 2
        max: 5
      lms:
        min: 3
        max: 15
    celery:
      lms:
        min: 1
        max: 10
      cms:
        min: 1
        max: 8
  edxapp:k8s_resources:
    webapp:
      lms:
        cpu_request: "250m"
        memory_request: "2Gi"
        memory_limit: "2Gi"
      cms:
        cpu_request: "250m"
        memory_request: "2Gi"
        memory_limit: "2Gi"
    celery:
      lms:
        cpu_request: "250m"
        memory_request: "3Gi"
        memory_limit: "4Gi"
      cms:
        cpu_request: "250m"
        memory_request: "3Gi"
        memory_limit: "4Gi"
  edxapp:k8s_deployment: true
  edxapp:k8s_cutover: true
  edxapp:disable_ec2_deployment: true
  edxapp:k8s_vpc: applications_vpc
