---
secretsprovider: awskms://alias/infrastructure-secrets-production
encryptedkey: AQICAHgQalNS7T35ZlcFdhF0QuKeiJAbXMUbm01pjGwHEsjRCgEgvt/Jaq3CayTQkSpHSpvzAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMIIzka63p6WK1zqpCAgEQgDuzHVJL9JoKHJrHL3HMGVlw+oOoUnrWXUMMJfSRRoPkgHnYqhhmrjeIm/OCaK1iFSi27868w83Hwpzj1w==
config:
  aws:region: us-east-1
  consul:address: https://consul-mitx-staging-production.odl.mit.edu
  edxapp:waffle_flags:
  - ["course_experience.relative_dates", "--create", "--superusers", "--everyone"]
  - ["course_home.course_home_mfe_progress_tab", "--create", "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_advanced_settings_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_export_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_files_uploads_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_import_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_updates_page", "--create", "--superusers",
    "--everyone"]
  - ["discussions.pages_and_resources_mfe", "--create", "--superusers", "--everyone"]
  - ["discussions.enable_new_structure_discussions", "--create", "--everyone"]
  - ["discussions.enable_discussions_mfe", "--create", "--everyone"]
  - ["forum_v2.enable_mysql_backend", "--create", "--everyone"]
  - ["grades.bulk_management", "--create", "--superusers", "--everyone"]
  - ["grades.enforce_freeze_grade_after_course_end", "--create", "--superusers", "--everyone"]
  - ["grades.rejected_exam_overrides_grade", "--create", "--superusers", "--everyone"]
  - ["grades.writable_gradebook", "--create", "--superusers", "--everyone"]
  - ["learner_home_mfe.enabled", "--create", "--superusers", "--everyone"]
  - ["learner_recommendations.enable_dashboard_recommendations", "--create", "--superusers",
    "--everyone"]
  - ["new_core_editors.use_new_problem_editor", "--create", "--everyone"]
  - ["new_core_editors.use_new_text_editor", "--create", "--superusers", "--everyone"]
  - ["new_core_editors.use_new_video_editor", "--create", "--superusers", "--everyone"]
  - ["new_studio_mfe.use_tagging_taxonomy_list_page", "--create", "--superusers",
    "--everyone"]
  - ["openresponseassessment.enhanced_staff_grader", "--create", "--superusers", "--everyone"]
  - ["studio.enable_checklists_quality", "--create", "--superusers", "--everyone"]
  - ["studio.library_authoring_mfe", "--deactivate"]
  - ["legacy_studio.certificates", "--create", "--everyone"]
  edxapp:business_unit: residential-staging
  edxapp:db_password:
    secure: v1:ZWtTTF60+1g61/XW:K9osJstG/oeHJvYXOUQS6KSIUuTcQFgR1cjECmosVk7BPLCJMPkzlLviW7swdiUhUIPErfyYNqs=
  edxapp:db_use_blue_green: "true"
  edxapp:dns_zone: mitx
  edxapp:domains:
    lms: staging.mitx.mit.edu
    preview: preview-staging.mitx.mit.edu
    studio: studio-staging.mitx.mit.edu
  edxapp:edx_forum_secrets:
    secure: v1:Yh0hsiSt2TTi7gX0:ZIMrOO7lw+EhZ6d+x5UP/Lk/41TOJ/AS2EiQQOQB0SqmR8n3F28uthxe933kplAoSnisJBwiTu3kWztLWCyc7LJqNK7KDMAGlhQY6Ow=
  edxapp:edx_xqueue_secrets:
    secure: v1:jgBYHCVD4xbM2TGu:P0rmQmQm2SYH/pQh928vZq5C5ZRXWQsKvRijEitpVjsIo5YfzyYGM84GOIQQG2FTINUdINXCGkWXHNUsfYFGq1dKcOsrql9n5nUka8k/4bWcqEuyBy0dI0bCpoEf6Ui0hL1On/Or4/rV7itDycwjIsTe7Eq6pE2oLRw+64RV77e3ho9f1M/63BC00rzYynBkaw==
  edxapp:enable_notes: "True"
  edxapp:enabled_mfes:
    authoring: authoring
    communications: communications
    discussions: discuss
    gradebook: gradebook
    learner_dashboard: dashboard
    learning: learn
    ora_grading: ora-grading
  edxapp:google_analytics_id: ""
  edxapp:mail_domain: edxapp-mail-staging-production.mitx.mit.edu
  edxapp:min_web_nodes: "1"
  edxapp:min_worker_nodes: "1"
  edxapp:sender_email_address: support@edxapp-mail-staging-production.mitx.mit.edu
  edxapp:target_vpc: residential_mitx_staging_vpc
  edxapp:framework: "earthly"
  edxapp:web_instance_type: general_purpose_xlarge
  edxapp:web_node_capacity: "2"
  edxapp:worker_node_capacity: "2"
  edxapp:worker_instance_type: "m7a.xlarge"
  mongodb:atlas_project_id: 61b72cf6148de8714e671440
  vault:address: https://vault-production.odl.mit.edu
  vault_server:env_namespace: operations.production
  edxapp:cluster_stack: infrastructure.aws.eks.residential.Production
  edxapp:learn_ai_frontend_domain: "learn-ai.ol.mit.edu"
  edxapp:mit_learn_api_domain: api.learn.mit.edu
  edxapp:mit_learn_domain: learn.mit.edu
  edxapp:marketing_domain: staging.mitx.mit.edu
  edxapp:backend_lms_domain: courses-backend-staging.qa.mitx.mit.edu
  edxapp:backend_studio_domain: studio-backend-staging.qa.mitx.mit.edu
  edxapp:backend_preview_domain: preview-staging.qa.mitx.mit.edu
  edxapp:k8s_replicas:
    webapp:
      cms:
        min: 1
        max: 3
      lms:
        min: 1
        max: 3
    celery:
      lms:
        min: 1
        max: 4
      cms:
        min: 1
        max: 4
  edxapp:k8s_resources:
    webapp:
      lms:
        cpu_request: "250m"
        memory_request: "2Gi"
        memory_limit: "2Gi"
      cms:
        cpu_request: "250m"
        memory_request: "2Gi"
        memory_limit: "2Gi"
    celery:
      lms:
        cpu_request: "250m"
        memory_request: "2Gi"
        memory_limit: "4Gi"
      cms:
        cpu_request: "250m"
        memory_request: "2Gi"
        memory_limit: "4Gi"
  edxapp:k8s_deployment: true
  edxapp:k8s_cutover: true
  edxapp:disable_ec2_deployment: true
  edxapp:k8s_vpc: residential_mitx_vpc
  edxapp:canvas_base_url: https://canvas.mit.edu
