---
secretsprovider: awskms://alias/infrastructure-secrets-ci
encryptedkey: AQICAHjs8ajWpT7YRhWXwI//wPkHX53RHlo0DjkgQOwCBTUBwQEGbYgV2EePyiT5w7gRTcESAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMb2PbdiRcIyCZthwPAgEQgDuscsOYMog2r1o62iQXSB7L5jAcWAHrnq5jnmotuj1OGz7Zz2kefvuXRecCo0OSa8E7qxsR1swcFePXSw==
config:
  aws:region: us-east-1
  consul:address: https://consul-xpro-ci.odl.mit.edu
  edxapp:waffle_flags:
  - ["completion.enable_completion_tracking", "--create", "--superusers", "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_video_uploads_page", "--create", "--everyone"]
  - ["course_experience.relative_dates", "--create", "--superusers", "--everyone"]
  - ["course_experience.relative_dates_disable_reset", "--create", "--everyone"]
  - ["course_home.course_home_mfe_progress_tab", "--create", "--everyone"]
  - ["discussions.pages_and_resources_mfe", "--create", "--superusers", "--everyone"]
  - ["discussions.enable_new_structure_discussions", "--create", "--everyone"]
  - ["discussions.enable_discussions_mfe", "--create", "--everyone"]
  - ["effort_estimation.disabled", "--create", "--superusers", "--everyone"]
  - ["forum_v2.enable_mysql_backend", "--create", "--everyone"]
  - ["grades.enforce_freeze_grade_after_course_end", "--create", "--superusers", "--everyone"]
  - ["grades.rejected_exam_overrides_grade", "--create", "--superusers", "--everyone"]
  - ["grades.writable_gradebook", "--create", "--superusers", "--everyone"]
  - ["learner_home_mfe.enabled", "--create", "--superusers", "--everyone"]
  - ["learner_recommendations.enable_dashboard_recommendations", "--create", "--superusers",
    "--everyone"]
  - ["new_core_editors.use_new_problem_editor", "--create", "--deactivate"]
  - ["new_core_editors.use_new_text_editor", "--create", "--superusers", "--deactivate"]
  - ["new_core_editors.use_new_video_editor", "--create", "--superusers", "--deactivate"]
  - ["openresponseassessment.enhanced_staff_grader", "--create", "--superusers", "--everyone"]
  - ["studio.enable_checklists_quality", "--create", "--superusers", "--everyone"]
  - ["studio.library_authoring_mfe", "--deactivate"]
  - ["legacy_studio.certificates", "--create", "--everyone"]
  edxapp:business_unit: mitxpro
  edxapp:db_password:
    secure: v1:gkXc0/WssuL5whQt:/28AEA/UN9lAkRHEl1B6D6OjWjysfgzUTG0KGFd6aYvrAU5bbBxUsZUe6RMI9wyKFA5f0l9z3hQ=
  edxapp:dns_zone: xpro
  edxapp:domains:
    lms: courses-ci.xpro.mit.edu
    preview: preview-ci.xpro.mit.edu
    studio: studio-ci.xpro.mit.edu
  edxapp:backend_lms_domain: courses-backend.ci.xpro.mit.edu
  edxapp:backend_studio_domain: studio-backend.ci.xpro.mit.edu
  edxapp:backend_preview_domain: preview-backend.ci.xpro.mit.edu
  edxapp:learn_ai_frontend_domain: "learn-ai-ci.ol.mit.edu"
  edxapp:mit_learn_api_domain: api.ci.learn.mit.edu
  edxapp:mit_learn_domain: ci.learn.mit.edu
  edxapp:marketing_domain: xpro-ci.odl.mit.edu
  edxapp:move_db: true
  edxapp:edx_forum_secrets:
    secure: v1:QSW6gq7cQ6t65Glo:OGJ5X4YYEi2ZdyrpnML25p10mQrodNNLaF5zyV1242ZcQz1TkRsTdpmv9HghIhgHxykYd2NK7kyRkvphd5pfI56xAg/de/8PuHNuPx5kg3IZCrFktYuE2Nyzjxhg7aGHNhA6JQEf95925WPwAG3V
  edxapp:elb_healthcheck_interval: "30"
  edxapp:default_module_class: xmodule.hidden_block.HiddenBlock
  edxapp:web_instance_type: r7a.large
  edxapp:enable_notes: "True"
  edxapp:enabled_mfes:
    authoring: authoring
    communications: communications
    discussions: discuss
    gradebook: gradebook
    learning: learn
    ora_grading: ora-grading
  edxapp:google_analytics_id: ""
  edxapp:mail_domain: edxapp-mail-ci.xpro.mit.edu
  edxapp:sender_email_address: support@edxapp-mail-ci.xpro.mit.edu
  edxapp:enable_xqueue: false
  edxapp:k8s_replicas:
    webapp:
      cms:
        min: 1
        max: 2
      lms:
        min: 1
        max: 2
    celery:
      lms:
        min: 1
        max: 1
      cms:
        min: 1
        max: 1
  edxapp:k8s_resources:
    webapp:
      lms:
        cpu_request: "250m"
        cpu_limit: "500m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
      cms:
        cpu_request: "250m"
        cpu_limit: "500m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
    celery:
      lms:
        cpu_request: "250m"
        cpu_limit: "500m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
      cms:
        cpu_request: "250m"
        cpu_limit: "500m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
  mongodb:atlas_project_id: 619395b5ab3fc40d5942a23c
  vault:address: https://vault-ci.odl.mit.edu
  vault_server:env_namespace: operations.ci
  edxapp:k8s_vpc: applications_vpc
