---
secretsprovider: awskms://alias/infrastructure-secrets-qa
encryptedkey: AQICAHijXuVxVlAL6bY9xCOrzO3YYhFlQBPt6jNyJGkhYu+q4QGxrnJ+jhHLuJokM5S8zndOAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMo53bqUNDbCTvBcF/AgEQgDsAe8gB0NwcmYHRW5FQhRokmUaBcfKWMa0mocOIQnaLrZ/jjXsfgIuGFd3cnQeytgce4vOEMB7zR27yvQ==
config:
  aws:region: us-east-1
  consul:address: https://consul-mitxonline-qa.odl.mit.edu
  consul:http_auth:
    secure: v1:Fa4X7VjchQQhRf6+:LxDvDXBPZUPOgMpcqvo9PxwjMK2lDKrnmJGbaJA7e0i5sVsUyQXTLYpa7lDmC5d1QddyLLkjyQjK5Hi/fEeoJle5986uRKVHXNyjRpcJqx8sN2SbFPHrCDpWQfrsz38=
  consul:scheme: https
  edxapp:waffle_flags:
  - ["content_tagging.disabled", "--create", "--everyone"]
  - ["course_experience.relative_dates", "--create", "--superusers", "--everyone",
    "--staff", "--authenticated"]
  - ["course_experience.relative_dates_disable_reset", "--create", "--everyone"]
  - ["discussions.pages_and_resources_mfe", "--create", "--everyone"]
  - ["discussions.enable_new_structure_discussions", "--create", "--everyone"]
  - ["discussions.enable_discussions_mfe", "--create", "--everyone"]
  - ["forum_v2.enable_mysql_backend", "--create", "--everyone"]
  - ["grades.bulk_management", "--create", "--superusers", "--everyone", "--staff",
    "--authenticated"]
  - ["grades.enforce_freeze_grade_after_course_end", "--create", "--superusers", "--everyone"]
  - ["grades.rejected_exam_overrides_grade", "--create", "--superusers", "--everyone"]
  - ["grades.writable_gradebook", "--create", "--superusers", "--everyone"]
  - ["legacy_studio.advanced_settings", "--deactivate"]
  - ["legacy_studio.certificates", "--create", "--everyone"]
  - ["legacy_studio.configurations", "--deactivate"]
  - ["legacy_studio.course_outline", "--deactivate"]
  - ["legacy_studio.course_team", "--deactivate"]
  - ["legacy_studio.custom_pages", "--deactivate"]
  - ["legacy_studio.exam_settings", "--deactivate"]
  - ["legacy_studio.export", "--deactivate"]
  - ["legacy_studio.files_uploads", "--deactivate"]
  - ["legacy_studio.grading", "--deactivate"]
  - ["legacy_studio.home", "--deactivate"]
  - ["legacy_studio.import", "--deactivate"]
  - ["legacy_studio.logged_out_home", "--deactivate"]
  - ["legacy_studio.problem_editor", "--deactivate"]
  - ["legacy_studio.schedule_details", "--deactivate"]
  - ["legacy_studio.text_editor", "--deactivate"]
  - ["legacy_studio.textbooks", "--deactivate"]
  - ["legacy_studio.unit_editor", "--deactivate"]
  - ["legacy_studio.updates", "--deactivate"]
  - ["legacy_studio.video_editor", "--deactivate"]
  - ["contentstore.new_studio_mfe.use_new_video_uploads_page", "--create", "--everyone"]
  - ["notifications.enable_email_notifications", "--create", "--everyone"]
  - ["notifications.enable_notifications", "--create", "--everyone"]
  - ["openresponseassessment.enhanced_staff_grader", "--create", "--superusers", "--everyone",
    "--staff", "--authenticated"]
  - ["seo.enable_anonymous_courseware_access", "--create", "--superusers", "--staff",
    "--authenticated"]
  - ["studio.enable_checklists_quality", "--create", "--superusers", "--everyone"]
  - ["teams.enable_teams_app", "--create", "--superusers", "--staff"]
  edxapp:business_unit: mitxonline
  edxapp:db_password:
    secure: v1:xHUw5WC3aN02zuAj:0BozwDxrtF0OA7wkYuv4R4CCnSHYdgXt+vi6/3eP9zwJgHgQO20+8sQfg7rXPC9SIUobEA==
  edxapp:dns_zone: learn
  edxapp:mit_learn_domain: rc.learn.mit.edu
  edxapp:mit_learn_api_domain: api.rc.learn.mit.edu
  edxapp:learn_ai_frontend_domain: "learn-ai-qa.ol.mit.edu"
  edxapp:domains:
    lms: courses.rc.learn.mit.edu
    preview: preview.courses.rc.learn.mit.edu
    studio: studio.courses.rc.learn.mit.edu
  edxapp:backend_lms_domain: courses-backend.rc.learn.mit.edu
  edxapp:backend_studio_domain: studio-backend.rc.learn.mit.edu
  edxapp:backend_preview_domain: preview-backend.rc.learn.mit.edu
  edxapp:mitxonline_domain: rc.mitxonline.mit.edu
  edxapp:edx_forum_secrets:
    secure: v1:IqXRArQveCV+9lkE:cRaraFuN2dDmI29PD4QifOU7MrRFdszOoaUb7o3pDJordt4TSjw8fIxldWfMzNhZRLC+NS291DorO1IuN6ASdCbt5d53aMvHVt+3hA6wyuI11OFjk7U=
  edxapp:elb_healthcheck_interval: "30"
  edxapp:enable_notes: "True"
  edxapp:enabled_mfes:
    communications: communications
    authoring: authoring
    discussions: discuss
    gradebook: gradebook
    learning: learn
    ora_grading: ora-grading
  edxapp:github_org_api_url: https://github.mit.edu/api/v3/orgs/mitxonline-rc
  edxapp:move_db: "true"
  edxapp:google_analytics_id: UA-5145472-46
  edxapp:mail_domain: edxapp-mail.rc.learn.mit.edu
  edxapp:proctortrack_url: "https://preproduction.verificient.com"
  edxapp:sender_email_address: mitlearn-support+rc@mit.edu
  edxapp:email_use_course_id_from_for_bulk: "True"
  edxapp:bulk_email_default_from_email: no-reply@edxapp-mail.rc.learn.mit.edu
  edxapp:enable_xqueue: "true"
  edxapp:xqueue_domain: xqueue.mitxonline.qa.odl.mit.edu
  edxapp:enable_auto_language_selection: "true"
  edxapp:autoscaling_lms_requests_threshold: "20"
  edxapp:autoscaling_lms_latency_threshold: "2000"
  edxapp:autoscaling_lms_cpu_threshold: "70"
  edxapp:autoscaling_cms_requests_threshold: "20"
  edxapp:autoscaling_cms_cpu_threshold: "70"
  edxapp:k8s_replicas:
    webapp:
      lms:
        max: 5
        min: 2
      cms:
        max: 3
        min: 2
    celery:
      lms:
        max: 10
        min: 1
      cms:
        max: 5
        min: 1
  edxapp:k8s_resources:
    webapp:
      lms:
        cpu_request: "250m"
        cpu_limit: "500m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
      cms:
        cpu_request: "250m"
        cpu_limit: "500m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
    celery:
      lms:
        cpu_request: "250m"
        cpu_limit: "500m"
        memory_request: "2Gi"
        memory_limit: "4Gi"
      cms:
        cpu_request: "250m"
        cpu_limit: "500m"
        memory_request: "2Gi"
        memory_limit: "4Gi"
  redis:instance_type: cache.r7g.large
  mongodb:atlas_project_id: 61a8fd80284fd30a660f2699
  vault:address: https://vault-qa.odl.mit.edu
  vault_server:env_namespace: operations.qa
  edxapp:edx_xqueue_secrets:
    secure: v1:968LG3OeHgn0GLl3:jqXqyqgWXGThSNiqEpqZeEuAZwVTCZdh1KbmExlITfC+4ImSDC+55gIpiLOST9vWciDK2wF5ZMJQrM9eY/c2SwaLH5EhoRsGcPAExuFDrxXE8eZGYb60AYXGWjOpxy2peQyPYiydnjBQGQGI+QgqG7v8ylk/YjiWEURpENwvGIUwr1w9SodgugeNL8WexzBiUiXiHUgQJg==
  edxapp:k8s_vpc: applications_vpc
  meilisearch:enabled: "true"
  meilisearch:replica_count: 1
  meilisearch:pv_size: 10Gi
  meilisearch:cpu_request: "250m"
  meilisearch:memory_request: "512Mi"
  meilisearch:memory_limit: "512Mi"
  meilisearch:master_key:
    secure: v1:fybZw5cse3Uv3xxI:jYE+BuQePHsWt+3xL/9MmCD2latqANrQY5EHljDY0a7rj16DePvZYB/VdTxkbR7PIEP8XbyTK//gQkdv2X3SSzta4uA+lQesujeZUPEX8J8=
