---
secretsprovider: awskms://alias/infrastructure-secrets-ci
encryptedkey: "AQICAHjs8ajWpT7YRhWXwI//wPkHX53RHlo0DjkgQOwCBTUBwQH3lrWmSrfJ6OGoyQvrwx1GAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQM4J/T5eAboC8seh7uAgEQgDv9RL0j/cIjptkrvjnRRSa07lMZaiZT17j8gEToIxmZidrXYwO4ezztfb0+BQmX9Kp5naU7qq6SxO7lWA=="
config:
  aws:region: us-east-1
  consul:address: https://consul-mitx-staging-ci.odl.mit.edu
  edxapp:waffle_flags:
  - ["contentstore.new_studio_mfe.use_new_advanced_settings_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_export_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_files_uploads_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_import_page", "--create", "--superusers",
    "--everyone"]
  - ["contentstore.new_studio_mfe.use_new_updates_page", "--create", "--superusers",
    "--everyone"]
  - ["course_experience.relative_dates", "--create", "--superusers", "--everyone"]
  - ["course_home.course_home_mfe_progress_tab", "--create", "--everyone"]
  - ["discussions.pages_and_resources_mfe", "--create", "--superusers", "--everyone"]
  - ["discussions.enable_new_structure_discussions", "--create", "--everyone"]
  - ["discussions.enable_discussions_mfe", "--create", "--everyone"]
  - ["grades.bulk_management", "--create", "--superusers", "--everyone"]
  - ["grades.enforce_freeze_grade_after_course_end", "--create", "--superusers", "--everyone"]
  - ["forum_v2.enable_mysql_backend", "--create", "--everyone"]
  - ["grades.rejected_exam_overrides_grade", "--create", "--superusers", "--everyone"]
  - ["grades.writable_gradebook", "--create", "--superusers", "--everyone"]
  - ["learner_home_mfe.enabled", "--create", "--superusers", "--everyone"]
  - ["learner_recommendations.enable_dashboard_recommendations", "--create", "--superusers",
    "--everyone"]
  - ["new_core_editors.use_new_problem_editor", "--create", "--everyone"]
  - ["new_core_editors.use_new_text_editor", "--create", "--superusers", "--everyone"]
  - ["new_core_editors.use_new_video_editor", "--create", "--superusers", "--everyone"]
  - ["new_studio_mfe.use_tagging_taxonomy_list_page", "--create", "--superusers",
    "--everyone"]
  - ["openresponseassessment.enhanced_staff_grader", "--create", "--superusers", "--everyone"]
  - ["studio.enable_checklists_quality", "--create", "--superusers", "--everyone"]
  - ["legacy_studio.certificates", "--create", "--everyone"]
  edxapp:business_unit: residential-staging
  edxapp:canvas_base_url: https://mit.test.instructure.com
  edxapp:db_password:
    secure: "v1:ZB90id7gJ0z4NB/r:S3dGQ6OhdFOl1VdJ8cMOyLTc1L/T36F3ULUBvwMi5XOpyCbRDSyPhxb1DXZQ75DMS8R54Qa8pYE="
  edxapp:dns_zone: mitx
  edxapp:domains:
    lms: staging-ci.mitx.mit.edu
    preview: preview-staging-ci.mitx.mit.edu
    studio: studio-staging-ci.mitx.mit.edu
  edxapp:edx_forum_secrets:
    secure: "v1:TMUUvuM6tlFYbT3r:Zmp7UuIteRPHVNghhms3+xqHZT+1DZjoJU1tEjsZiny0XCTIJJXY4E+OKNEDMoblo3FR4FtQEFdU719imPMdR9zk+Kb7oh3rZzf74QmMcMlSL2P743T98MchMvM3Fa1RyBf4PgebMSNZJ9GdDg=="
  edxapp:edx_xqueue_secrets:
    secure: "v1:yojXnLWnr80P8t0T:sS5KRaJa6JUwEckAjQr0Ln4l/6O1ma69CHF38VhXUfG/pUUqxw1Q8XJBVzlRIVT4yzq7O6UhzRYc2dizDbw5iQsH4/54mdUhfrFreZaZSAO5Ta9uKAmzv4vG1lJ5hI5hwFsg0fm+mUKBq2LFa2tiCVAwoS64BSW1uoO4GBWTUl1hYPXZaouIX0rAd/sgzLq35w=="
  edxapp:elb_healthcheck_interval: "30"
  edxapp:enable_notes: "True"
  edxapp:enabled_mfes:
    authoring: authoring
    communications: communications
    discussions: discuss
    gradebook: gradebook
    learner_dashboard: dashboard
    learning: learn
    ora_grading: ora-grading
  edxapp:framework: "earthly"
  edxapp:google_analytics_id: ""
  edxapp:mail_domain: edxapp-mail-staging-ci.mitx.mit.edu
  edxapp:min_web_nodes: "1"
  edxapp:min_worker_nodes: "1"
  edxapp:sender_email_address: support@edxapp-mail-staging-ci.mitx.mit.edu
  edxapp:target_vpc: residential_mitx_staging_vpc
  edxapp:web_node_capacity: "1"
  edxapp:worker_node_capacity: "1"
  mongodb:atlas_project_id: 6193f02d576a70760e8bcb02
  vault:address: https://vault-ci.odl.mit.edu
  vault_server:env_namespace: operations.ci
  edxapp:cluster_stack: infrastructure.aws.eks.residential.CI
  edxapp:learn_ai_frontend_domain: "learn-ai-ci.ol.mit.edu"
  edxapp:mit_learn_api_domain: api.ci.learn.mit.edu
  edxapp:mit_learn_domain: ci.learn.mit.edu
  edxapp:marketing_domain: lms-ci.mitx.mit.edu
  edxapp:backend_lms_domain: courses-backend-staging.ci.mitx.mit.edu
  edxapp:backend_studio_domain: studio-backend-staging.ci.mitx.mit.edu
  edxapp:backend_preview_domain: preview-staging.ci.mitx.mit.edu
  edxapp:k8s_replicas:
    webapp:
      cms:
        min: 1
        max: 2
      lms:
        min: 1
        max: 2
    celery:
      lms:
        min: 1
        max: 4
      cms:
        min: 1
        max: 4
  edxapp:k8s_resources:
    webapp:
      lms:
        cpu_request: "250m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
      cms:
        cpu_request: "250m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
    celery:
      lms:
        cpu_request: "250m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
      cms:
        cpu_request: "250m"
        memory_request: "1Gi"
        memory_limit: "2Gi"
  edxapp:k8s_deployment: true
  edxapp:k8s_cutover: true
  edxapp:disable_ec2_deployment: true
  edxapp:k8s_vpc: residential_mitx_vpc
