---
secretsprovider: awskms://alias/infrastructure-secrets-production
encryptedkey: AQICAHgQalNS7T35ZlcFdhF0QuKeiJAbXMUbm01pjGwHEsjRCgENampzZMkU93B2tG7uS7RhAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMzF8jd7uKVx40h9mJAgEQgDutJz3ChtPuf+29eN8z5to4y9BGIIIseHU+BRbHAgiy0RBYs5rG6vd78v/TmGRcAkmtfI7KNkh1GXlJyQ==
config:
  aws:region: us-east-1
  consul:address: https://consul-mitxonline-production.odl.mit.edu
  consul:http_auth:
    secure: v1:aOXMA7B3yJEu1Csf:rdNjtg5pbPnVrlDdbkAdwAE3Cw2vzAoY0uh/yu/yqgNX/bRySO53cv+LFgYRm26JUu3Eu7/i7qny8Sd5F9DFxOowNCkzUS9YOCuDeA+TnSp9R626c47iMlklo5dNrhGlFw==
  consul:scheme: https
  edxapp:business_unit: mitxonline
  edxapp:db_password:
    secure: v1:Za4LI6RKfAW7jLJh:hlthF86wmGH6VSiBHgehE8mY11hDfOUK/uYZADbodhCVuS8RSXoCoHtrRrBDNMXunQmHLABw4SM=
  edxapp:dns_zone: mitxonline
  edxapp:domains:
    lms: courses.mitxonline.mit.edu
    preview: preview.mitxonline.mit.edu
    studio: studio.mitxonline.mit.edu
  edxapp:marketing_domain: mitxonline.mit.edu
  edxapp:edx_forum_secrets:
    secure: v1:qzfe99Jb8n0TnEQS:Y6fSOS8lksj7WvED+V7kCtV7arDtwx7184Fw330Mwh9JDHW72rVd8y7Nm0fF8ANCcFCwDV5EwSU2Fcc+X47NHDOLCOQv16lyB6jWOF2mTr/veRax6MbXY9NlLmsfp9EBQesDCitULbkz9hyHcHT3GPI=
  edxapp:enable_notes: "True"
  edxapp:enabled_mfes:
    communications: communications
    course_authoring: course-authoring
    gradebook: gradebook
    learning: learn
    library_authoring: library-authoring
    ora_grading: ora-grading
  edxapp:google_analytics_id: UA-5145472-48
  edxapp:mail_domain: edxapp-mail.mitxonline.mit.edu
  edxapp:proctortrack_url: https://testing.verificient.com
  edxapp:sender_email_address: mitxonline-support@mit.edu
  edxapp:use_docker: true
  edxapp:web_node_capacity: "9"
  edxapp:worker_node_capacity: "5"
  edxapp:worker_instance_type: "c6a.large"
  mongodb:atlas_project_id: 61f0a63f8bc1f86a073a7148
  redis:instance_type: cache.r6g.xlarge
  vault:address: https://vault-production.odl.mit.edu
  vault_server:env_namespace: operations.production
