---
secretsprovider: awskms://alias/infrastructure-secrets-qa
encryptedkey: AQICAHijXuVxVlAL6bY9xCOrzO3YYhFlQBPt6jNyJGkhYu+q4QFbsMXx3lp8sZ2qJPv6GZcIAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQME6mn05QRSi9nFDG4AgEQgDsJzg+7ktSoXslxe3gdQoy/WxY+pX2aVqf2kqzjuUd+roWEeCOEP/EvmGxeetLWPI5H6o+vfI/uCZNNxQ==
config:
  aws:region: us-east-1
  concourse:consul_credentials:
    secure: v1:duj9opywHxOvDHWd:teA1tnEZNwkvM9Lbg8AVtve9YA2Qq8+JkKTRcHDHuul50x+dVV4H3vCVVIL/gCQyjdq4jWBJfCZP7UROhPuF
  concourse:db_capacity: "334"
  concourse:db_instance_size: db.m7g.xlarge
  concourse:db_password:
    secure: v1:cINWNdW8VXvoHANP:vYFipTry9pNokRsD9FnC0+8eurxu28iewwca52MXCyrVflWnaWWvi3FD3LP9O73KL/wznZCUSXk9lbsv6vySTSDR+1II7fNr1AnrjdQclygaFKBpb2EJgcwd1w==
  concourse:target_vpc: operations_vpc
  concourse:web_auto_scale:
    desired: 2
    max: 4
    min: 2
    max_instance_lifetime_seconds: 86400
  concourse:web_host_domain: cicd-qa.odl.mit.edu
  concourse:web_iam_policies:
  - base
  - ocw
  - operations
  concourse:web_instance_type: general_purpose_large
  concourse:workers:
  - auto_scale:
      desired: 5
      max: 8
      min: 3
      max_instance_lifetime_seconds: 86400
    aws_tags:
      OU: open-courseware
    concourse_team: ocw
    disk_size_gb: 1000
    disk_throughput: 600
    disk_iops: 3000
    iam_policies:
    - base
    - ocw
    instance_type: general_purpose_xlarge
    name: ocw
  - auto_scale:
      desired: 2
      max: 2
      min: 1
      max_instance_lifetime_seconds: 86400
    aws_tags:
      OU: operations
    concourse_team: infrastructure
    disk_size_gb: 100
    iam_policies:
    - base
    - operations
    - cloud_custodian
    - infra
    instance_type: burstable_medium
    name: infra
  - auto_scale:
      desired: 2
      max: 2
      min: 1
      max_instance_lifetime_seconds: 86400
    aws_tags:
      OU: operations
    disk_size_gb: 200
    iam_policies:
    - base
    - operations
    instance_type: burstable_medium
    name: generic
  consul:address: https://consul-operations-qa.odl.mit.edu
  vault:address: https://vault-qa.odl.mit.edu
  vault_server:env_namespace: operations.qa
