---
secretsprovider: awskms://alias/infrastructure-secrets-ci
encryptedkey: AQICAHjEYf3gV5ZTnviCJcHwGnUuLzld5EuYumgMrRde6bvXUgE9rvKwMh36kigoyf0oNRRpAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQM3ptgm6NCCpX9CmtCAgEQgDseumxlwIAYWyEvpYheyiv6TaJwKSlDTcyCRfrJ30eGefNBoi3DJK6NfWf2V7R6RsCBq8uoJfoOL/Cshw==
config:
  aws:region: us-east-1
  concourse:consul_credentials:
    secure: v1:5KxQDZzjcrkKQUro:V/Yfx056dylqBL25WIutQw1i3DCc18CMUCyyI/7DfwV7ZNkBlh6qXW8/UAUxIHVPxs9zlkJXTp6u51GNO4Td
  concourse:db_capacity: "334"
  concourse:db_password:
    secure: v1:qHlfVScY6TRQO3Xy:Yvn53MfChba/lCUxcp3hKjKJX9cqjfR2OcsrbJFEY36IhwJIW7V16PKpuHc9cjjk
  concourse:target_vpc: operations_vpc
  concourse:web_auto_scale:
    desired: 1
    max: 3
    min: 1
    max_instance_lifetime_seconds: 86400
  concourse:web_host_domain: cicd-ci.odl.mit.edu
  concourse:web_iam_policies:
  - base
  - ocw
  - operations
  concourse:workers:
  - auto_scale:
      desired: 1
      max: 10
      min: 1
      max_instance_lifetime_seconds: 86400

    aws_tags:
      OU: open-courseware
    concourse_team: ocw
    disk_size_gb: 100
    disk_throughput: 125
    disk_iops: 3000
    iam_policies:
    - base
    - ocw
    instance_type: t3a.medium
    name: ocw
  - auto_scale:
      desired: 1
      max: 2
      min: 1
      max_instance_lifetime_seconds: 86400
    aws_tags:
      OU: operations
    concourse_team: infrastructure
    disk_size_gb: 100
    iam_policies:
    - base
    - operations
    - cloud_custodian
    - infra
    instance_type: t3a.medium
    name: infra
  - auto_scale:
      desired: 1
      max: 2
      min: 1
      max_instance_lifetime_seconds: 86400
    aws_tags:
      OU: operations
    desired_capacity: 2
    disk_size_gb: 100
    iam_policies:
    - base
    - operations
    instance_type: t3a.medium
    name: generic
  consul:address: https://consul-operations-ci.odl.mit.edu
  vault:address: https://vault-ci.odl.mit.edu
  vault_server:env_namespace: operations.ci
