[Unit]
Description=Excute the api7 cloud-cli utility at startup."
After=network.target

[Service]
User=apisix
Group=apisix
Type=oneshot
EnvironmentFile=-/etc/default/cloud-cli
ExecStartPre=/usr/local/bin/cloud-cli configure --token ${API7_ACCESS_TOKEN}
ExecStart=/usr/local/bin/cloud-cli deploy docker --apisix-image apache/apisix:${APISIX_VERSION}-debian \
                                                 --name "%H" \
                                                 --docker-run-arg --detach \
                                                 --docker-run-arg --rm \
                                                 --docker-run-arg --platform=linux/amd64
