[Unit]
Description=Excute the api7 cloud-cli utility at startup."
After=network.target
After=docker.service
Wants=docker.service
After=vault.service
Wants=vault.service
After=consul.service
Wants=consul.service

[Service]
User=apisix
Group=apisix
Type=oneshot
EnvironmentFile=-/etc/default/cloud-cli
ExecStart=/bin/sleep 20
ExecStart=/usr/local/bin/cloud-cli configure --token ${API7_ACCESS_TOKEN}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
