[Unit]
Description=Vector
Documentation=https://vector.dev
Wants=docker.service
After=docker.service
Wants=vault.service
After=vault.service
Wants=consul.service
After=consul.service
Wants=consul-template.service
After=consul-template.service
Requires=network-online.target
After=network-online.target

[Service]
User=vector
Group=vector
ExecStartPre=/usr/bin/vector validate ---strict-env-vars
ExecStart=/usr/bin/vector --strict-env-vars
ExecReload=/usr/bin/vector validate --strict-env-vars
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=-/etc/default/vector

[Install]
WantedBy=multi-user.target
