[Path]
Unit={{ service_name }}-restarter.service
{% for path in watched_files -%}
PathModified={{ path }}
{% endfor -%}

[Install]
WantedBy=multi-user.target
WantedBy=vault.service
WantedBy=consul-template.service
