resources:
  postgres_db:
    config:
      postgres_db_name: opendiscussions
      postgres_hostname: {{ keyOrDefault "edx-pipeline/mit-open/postgres-db/hostname" "missing-value-postgres-db-hostname" }}
      postgres_username: {{ with secret "postgres-rc-apps-opendiscussions/creds/readonly" }}{{ .Data.username }}
      postgres_password: {{ .Data.password }}{{ end }}
      postgres_port: 5432
ops:
  fetch_open_run_data:
    config:
      outputs_dir: {{ keyOrDefault "edx-pipeline/mit-open/bucket-name" "missing-value-bucket-name" }}/processed/mit-open-course-runs/
  fetch_open_user_data:
    config:
      outputs_dir: {{ keyOrDefault "edx-pipeline/mit-open/bucket-name" "missing-value-bucket-name" }}/raw/mit-open-application-db/auth_user/
  fetch_open_course_data:
    config:
      outputs_dir: {{ keyOrDefault "edx-pipeline/mit-open/bucket-name" "missing-value-bucket-name" }}/processed/mit-open-courses/
