ops:
  edx_export_courses:
    config:
      edx_base_url: {{ with secret "secret-data/pipelines/edx/residential/edx-oauth-client" }}{{ .Data.url }}
      edx_client_id: {{ .Data.id }}
      edx_client_secret: {{ .Data.secret }}
      edx_studio_base_url: {{ .Data.studio_url }}{{ end }}
      edx_course_bucket: {{ keyOrDefault "edx-pipeline-mitx-online/edx-course-bucket" "missing-value-edx-course-bucket" }}
  edx_upload_daily_extracts:
    config:
      edx_etl_results_bucket: mitx-etl-{{ keyOrDefault "edx-pipeline/mitx-online/purpose" "missing-value-purpose" }}-{{ keyOrDefault "edx-pipeline/shared/env-suffix" "missing-value-env-suffix" }}
  export_edx_forum_database:
    config:
      edx_mongodb_forum_database_name: forum
      edx_mongodb_uri: {{ keyOrDefault "edx-pipeline/residential/mongodb/uri" "missing-value-mongodb-uri" }}
      edx_mongodb_username: {{ with secret "secret-mitx/mongodb-forum" }}{{ .Data.username }}
      edx_mongodb_password: {{ .Data.password }}{{ end }}
      edx_mongodb_auth_db: admin
  list_edx_courses:
    config:
      edx_base_url: {{ with secret "secret-data/pipelines/edx/residential/edx-oauth-client" }}{{ .Data.url }}
      edx_client_id: {{ .Data.id }}
      edx_client_secret: {{ .Data.secret }}{{ end }}
resources:
  healthchecks:
    config:
      check_id: {{ with secret "secret-data/pipelines/edx/residential/healthchecks-io-check-id" }}{{ .Data.value }}{{ end }}
  io_manager:
    config:
      s3_bucket: dagster-data-{{ keyOrDefault "edx-pipeline/shared/env-suffix" "missing-value-env-suffix" }}
      s3_prefix: pipeline-storage/residential_edx
  results_dir:
    config:
      date_format: '%Y%m%d'
      dir_prefix: mitx
  sqldb:
    config:
      mysql_db_name: edxapp
      mysql_hostname: {{ keyOrDefault "edx-pipeline/residential/mysql-db/hostname" "missing-value-mysql-db-hostname" }}
      mysql_username: {{ with secret "mariadb-mitx/creds/readonly" }}{{ .Data.username }}
      mysql_password: {{ .Data.password }}{{ end }}
