resources:
  io_manager:
    config:
      s3_bucket: {{ keyOrDefault "edx-pipeline/xpro-edx/bucket-name" "missing-value-bucket-name" }}
      s3_prefix: pipeline-storage/xpro_edx
  results_dir:
    config:
      date_format: '%Y%m%d'
      dir_prefix: xpro
  healthchecks:
    config:
      check_id: {{ with secret "secret-data/pipelines/edx/xpro/healthchecks-io-check-id" }}{{ .Data.value }}{{ end }}
  sqldb:
    config:
      mysql_db_name: edxapp
      mysql_hostname: {{ keyOrDefault "edx-pipeline/xpro-edx/mysql-db/hostname" "missing-value-mysql-db-hostname" }}
      mysql_username: {{ with secret "mariadb-xpro/creds/readonly" }}{{ .Data.username }}
      mysql_password: {{ .Data.password }}{{ end }}
ops:
  export_edx_forum_database:
    config:
      edx_mongodb_forum_database_name: forum
      edx_mongodb_uri: {{ keyOrDefault "edx-pipeline/xpro-edx/mongodb-forum/uri" "missing-value-mongodb-forum-uri" }}
      edx_mongodb_username: {{ with secret "secret-xpro/mongodb-forum" }}{{ .Data.username }}
      edx_mongodb_password: {{ .Data.password }}{{ end }}
      edx_mongodb_auth_db: admin
  edx_upload_daily_extracts:
    config:
      edx_etl_results_bucket: {{ keyOrDefault "edx-pipeline/xpro-edx/xpro-purpose" "missing-value-xpro-purpose" }}-mitxpro-{{ keyOrDefault "edx-pipeline/shared/env-suffix" "missing-value-env-suffix" }}
  list_edx_courses:
    config:
      edx_token_type: jwt
      edx_base_url: {{ with secret "secret-data/pipelines/edx/xpro/edx-oauth-client" }}{{ .Data.url }}
      edx_client_id: {{ .Data.id }}
      edx_client_secret: {{ .Data.secret }}{{ end }}
  edx_export_courses:
    config:
      edx_base_url: {{ with secret "secret-data/pipelines/edx/xpro/edx-oauth-client" }}{{ .Data.url }}
      edx_client_id: {{ .Data.id }}
      edx_client_secret: {{ .Data.secret }}
      edx_studio_base_url: {{ .Data.studio_url }}{{ end }}
      edx_course_bucket: {{ keyOrDefault "edx-pipeline/xpro-edx/xpro-course-bucket-name" "missing-value-xpro-course-bucket-name" }}
