---
secretsprovider: awskms://alias/infrastructure-secrets-production
encryptedkey: AQICAHiiGjYUolrtj8PCnScLM7oLAdMl8nJrLjQjnqyl1LykYgGq710cJf4taf7FUfw+iIGNAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQM2JcEQu/tozu3tO8TAgEQgDvnl65jF/6aC66eb97jIrt3/CIL6a5XcVwv9E8EWgWlrX3cJadv9f2X0bcVLKiGPImjG4qTL6m5sDN7Ig==
config:

  mitlearn:api_domain: "api.learn.mit.edu"
  mitlearn:db_instance_size: db.m7g.2xlarge
  mitlearn:db_password:
    secure: v1:siGmu4+ZCOqekx7l:4Pdgv4fKZIjWJPAcZDBdpvZ0mUW10SUcX/9ZatsnZbR/euYoklo8dTTFu4i/5kTnJHHYot1QK3xS+gk++lHZfneBoC9qBR+l2qzlvvNBoN8=
  mitlearn:db_use_blue_green: true
  mitlearn:fastly_domain: "d.sni.global.fastly.net"
  mitlearn:frontend_domain: "learn.mit.edu"
  mitlearn:interpolation_vars:
    auth_allowed_redirect_hosts:
    - "draft.ocw.mit.edu"
    - "ocw.mit.edu"
    - "mitopen.odl.mit.edu"   # legacy
    - "learn.mit.edu"
    cors_urls:
    - "https://api.learn.mit.edu"
    - "https://learn.mit.edu"
    - "https://api.mitopen.odl.mit.edu"   # legacy
    - "https://mitopen.odl.mit.edu"   # legacy
    - "https://draft.ocw.mit.edu"
    - "https://ocw.mit.edu"
    csrf_domains:
    - "https://api.learn.mit.edu"
    - "https://learn.mit.edu"
    - "https://api.mitopen.odl.mit.edu"   # legacy
    - "https://mitopen.odl.mit.edu"   # legacy
    - "https://draft.ocw.mit.edu"
    - "https://ocw.mit.edu"
    mailgun_sender_domain: "mail.learn.mit.edu" # Need to verify
    session_cookie_domain: ".learn.mit.edu"
    sso_url: "sso.ol.mit.edu"
  mitlearn:k8s_deploy: "true"
  mitlearn:k8s_cutover: "true"
  mitlearn:learn_ai_recommendation_endpoint: "https://api.learn.mit.edu/ai/http/recommendation_agent/"
  mitlearn:learn_ai_syllabus_endpoint: "https://api.learn.mit.edu/ai/http/syllabus_agent/"
  mitlearn:legacy_api_domain: "api.mitopen.odl.mit.edu"
  mitlearn:legacy_frontend_domain: "mitopen.odl.mit.edu"
  mitlearn:min_replicas: 4
  mitlearn:max_replicas: 30
  mitlearn:nextjs_heroku_domain: "next.learn.mit.edu"
  mitlearn:posthog_proxy: "ph.ol.mit.edu"
  mitlearn:support_url: "https://support.learn.mit.edu"
  mitlearn:use_granian: true
  mitlearn:vars:
    AI_MIT_SYLLABUS_URL: "https://api.learn.mit.edu/api/v0/vector_content_files_search/"
    AI_MIT_VIDEO_TRANSCRIPT_URL: "https://api.learn.mit.edu/api/v0/vector_content_files_search/"
    APPZI_URL: "https://w.appzi.io/w.js?token=Q2pSI"
    CANVAS_COURSE_BUCKET_NAME: "ol-data-lake-landing-zone-production"
    CELERY_WORKER_CONCURRENCY: 1
    CSRF_COOKIE_NAME: "learn_csrftoken"
    DEBUG: "false"
    EDX_LEARNING_COURSE_BUCKET_NAME: "edxorg-production-edxapp-courses"
    ENABLE_INFINITE_CORRIDOR: "true"
    GA_G_TRACKING_ID: "" # Missing?
    GA_TRACKING_ID: "" # Missing?
    INDEXING_API_USERNAME: "od_mm_prod_api"
    KEYCLOAK_BASE_URL: "https://sso.ol.mit.edu"
    KEYCLOAK_REALM_NAME: "olapps"
    MITOL_API_LOGOUT_SUFFIX: "logout"
    MITOL_API_URL: "https://api.learn.mit.edu"
    MITOL_APP_BASE_URL: "https://learn.mit.edu"
    MITOL_APP_URL: "https://learn.mit.edu"
    MITOL_BASE_URL: "https://learn.mit.edu"
    MITOL_COOKIE_DOMAIN: "mit.edu"
    MITOL_COOKIE_NAME: "learn"
    MITOL_LOG_LEVEL: "INFO"
    MITOL_NEW_USER_LOGIN_URL: "https://learn.mit.edu/onboarding"
    MITOL_SUPPORT_EMAIL: "mitlearn-support@mit.edu"
    MITX_ONLINE_BASE_URL: "https://mitxonline.mit.edu/"
    MITX_ONLINE_COURSES_API_URL: "https://mitxonline.mit.edu/api/v2/courses/"
    MITX_ONLINE_PROGRAMS_API_URL: "https://mitxonline.mit.edu/api/v2/programs/"
    MITPE_API_ENABLED: "true"
    OCW_ITERATOR_CHUNK_SIZE: 300
    OIDC_ENDPOINT: "https://sso.ol.mit.edu/realms/olapps"
    OPENTELEMETRY_ENABLED: "true"
    OPENTELEMETRY_ENDPOINT: "http://grafana-k8s-monitoring-alloy-receiver.grafana.svc.cluster.local:4318/v1/traces"
    OPENTELEMETRY_SERVICE_NAME: "learn-webapp"
    OTEL_RESOURCE_ATTRIBUTES: "deployment.environment=production,service.namespace=learn,service.version=${GIT_SHA:-unknown},service.instance.id=${HOSTNAME}"
    OTEL_TRACES_SAMPLER: "parentbased_traceidratio"
    OTEL_TRACES_SAMPLER_ARG: "1.0"
    OTEL_PROPAGATORS: "tracecontext,baggage"
    OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"
    OTEL_LOGS_EXPORTER: "otlp"
    OTEL_EXPORTER_OTLP_LOGS_ENDPOINT: "http://grafana-k8s-monitoring-alloy-receiver.grafana.svc.cluster.local:4318/v1/logs"
    OTEL_METRIC_EXPORT_INTERVAL: "60000"
    OTEL_SPAN_ATTRIBUTE_COUNT_LIMIT: "128"
    OPENSEARCH_INDEX: "mitlearn"
    OPENSEARCH_SHARD_COUNT: 3
    OPENSEARCH_URL: "https://search-opensearch-mitlearn-producti-qjtnw2dcoampmbtscs3wdfci6y.us-east-1.es.amazonaws.com"
    POSTHOG_API_HOST: "https://ph.ol.mit.edu"
    POSTHOG_ENABLED: "true"
    POSTHOG_EVENT_S3_BUCKET: "ol-data-lake-landing-zone-production"
    POSTHOG_EVENT_S3_PREFIX: "thirdparty/posthog/learn/events/"
    POSTHOG_PROJECT_ID: "63497"
    POSTHOG_TIMEOUT_MS: 1000
    QDRANT_HOST: "https://0567dbd5-d68d-4d9e-8c41-954ef5de90ae.us-east-1-0.aws.cloud.qdrant.io"
    SEE_API_ENABLED: "true"
    SENTRY_PROFILES_SAMPLE_RATE: "0.25"
    SENTRY_TRACES_SAMPLE_RATE: "0.25"
    SESSION_COOKIE_NAME: "session_mitlearn"
    SOCIAL_AUTH_OL_OIDC_OIDC_ENDPOINT: "https://sso.ol.mit.edu/realms/olapps"
    TIKA_SERVER_ENDPOINT: "https://tika-production.ol.mit.edu"
    UWSGI_THREADS: 15
    UWSGI_WORKERS: 3
  mitlearn:zendesk_help_url: "https://mitlearn.zendesk.com"
  redis:password:
    secure: v1:xdJFi6D7NpeVwYrg:C0GQl3mctDO1+ehHcFAPdeJDuhk9PbuNdNGtghRNMlzP6GC/GCOyGS1V0ViUXwiO7JhAFD6zrstWmhg0X/yHQLnK8KA=
  vault:address: https://vault-production.odl.mit.edu
  vault_server:env_namespace: operations.production
