[Unit]
Description=Concourse service for managing continuous deployment pipelines
After=network.target
Documentation=https://concourse-ci.org/

[Service]
User={{ concourse_config.user }}
Group={{ concourse_config.user }}
ExecStart={{ concourse_config.deploy_directory }}/bin/concourse {{ concourse_config._node_type }}
Restart=always
RestartSec=3
EnvironmentFile=-{{ concourse_config.env_file_path }}
{% if concourse_config._node_type == "web" %}
ExecReload=/bin/kill -HUP $MAINPID
{% endif %}
{% if concourse_config._node_type == "worker" %}
EnvironmentFile=-/etc/default/concourse-team
EnvironmentFile=-/etc/default/concourse-tags
Delegate=true  {# Allow the Concourse worker to manage its own cgroups for container execution #}
KillSignal=SIGUSR2
KillMode=process
LimitNPROC=infinity
TasksMax=infinity
TimeoutStopSec=300
{% endif %}
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
