---
version: '3.8'

services:
  nginx:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/nginx:1.27.2
    ports:
    - "8011:8011"
    links:
    - web
    - watch
  web:
    working_dir: /app
    build: .
    command: gunicorn -b 0.0.0.0:8000 -w 3 -k uvicorn.workers.UvicornWorker semantic_mitopen.main:app
    volumes:
    - .:/app
    ports:
    - 8000:8000
    env_file: .env
  watch:
    image: 610119931565.dkr.ecr.us-east-1.amazonaws.com/dockerhub/node:24.12.0@sha256:b52a8d1206132b36d60e51e413d9a81336e8a0206d3b648cabd6d5a49c4c0f54
    working_dir: /app
    command: >
      /bin/bash -c 'npm install && npm run start'
    ports:
    - "3000:3000"
    volumes:
    - .:/app
    environment:
      DOCKER_HOST: ${DOCKER_HOST:-missing}
      CONTAINER_NAME: 'watch'
    env_file: .env
