xqwatcher ALL=({{ shared_context.XQWATCHER_USER }}) NOPASSWD:/usr/bin/find
xqwatcher ALL=({{ shared_context.XQWATCHER_USER }}) NOPASSWD:/bin/kill
xqwatcher ALL=({{ shared_context.XQWATCHER_USER }}) NOPASSWD:/usr/bin/pkill
