{{ shared_context.XQWATCHER_USER }} ALL=({{ grader_context.GRADER_USER }}) SETENV:NOPASSWD:{{ grader_context.GRADER_VENV_DIR }}/bin/python
{{ shared_context.XQWATCHER_USER }} ALL=({{ grader_context.GRADER_USER }}) NOPASSWD:/usr/bin/find
