#include <tunables/global>

{{ context.GRADER_VENV_DIR }}/bin/python {
    #include <abstractions/base>
    {{ context.GRADER_VENV_DIR }}/** mr,
    /tmp/codejail-*/ rix,
    /tmp/codejail-*/** wrix,
    /proc/*/mounts r,
}
