{
    storage file_system {
        root {{ context.data_directory }}
    }
    default_sni {$DOMAIN:vault-ci.odl.mit.edu}
    email odl-devops@mit.edu
}

:443 {
    reverse_proxy /v1/sys/health {
        to https://127.0.0.1:8200
        transport http {
            tls_insecure_skip_verify
        }
    }
}

{$DOMAIN:vault-ci.odl.mit.edu} {
    log {
        format json
        output file {{ context.log_file }}
    }

    tls {
        dns route53
    }

    reverse_proxy {
        to https://127.0.0.1:8200
        transport http {
            tls_insecure_skip_verify
        }
    }
}
