---
name: Add new issues to OL Engineering Project

on:
  issues:
    types:
    - opened

jobs:
  add-to-project:
    name: Add issue to project
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
      with:
          # You can target a project in a different organization
          # to the issue
        project-url: https://github.com/orgs/mitodl/projects/21
        github-token: ${{ secrets.GH_PROJECT_AUTOMATION_TOKEN }}
